<ion-view title="Add Goals">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h3 align="center">Add a new goal</h3>
        <form name="inputGoal" class="list">

        	<!-- Text Input for Goal -->
            <label class="item item-input">
                <input type="text" placeholder="Enter your goal here" ng-model="goal.body" required>
            </label>
            <br></br>

            <!-- Radio button choices for goal type -->
			<div class="item item-divider">Select Goal Category</div>
            <ion-list>
				<ion-radio ng-model="goal.type" ng-value="'personal'" required>Personal</ion-radio>
				<ion-radio ng-model="goal.type" ng-value="'clinical'" required>Clinical</ion-radio>
			</ion-list>

			<!-- Save button -->
        	<button ui-sref="tabsController.goals" id="addGoal-button4" class="button button-positive button-block button-big" ng-disabled="inputGoal.$invalid" ng-click="addNewGoal()">Save</button>
        </form>
    </ion-content>
</ion-view>
