<ion-view title="Add Goal">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h3 align="center">Add a new goal</h3>
        <form class="list">
            <label class="item item-input">
                <input type="text" placeholder="Enter your goal here">
            </label>
            <br></br>

            <!-- Radio button choices for goal type -->
			<div class="item item-divider">Select Goal Category</div>
            <ion-list>
				<ion-radio ng-model="choice" ng-value="'goal_personal'">Personal</ion-radio>
				<ion-radio ng-model="choice" ng-value="'goal_clinical'">Clinical</ion-radio>
			</ion-list>
        </form>
        <button ui-sref="tabsController.goals" id="addGoal-button4" class="button button-positive button-block button-big" disabled>Save</button>
    </ion-content>
</ion-view>
