<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <!-- TABS -->
    <ion-tabs class="tabs-stable tabs-icon-top tabs-color-active-positive">
      <ion-tab title="Timeline" icon="ion-ios-home-outline" href="#/tabs/timeline">
        <ion-nav-view name="timeline-tab"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Medications" icon="ion-ios-medkit-outline" href="#/tabs/medications">
        <ion-nav-view name="medications-tab"></ion-nav-view>
      </ion-tab>
    </ion-tabs>
  </ion-side-menu-content>

   <!-- Side Menu (left) -->
  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item class="icon item-icon-right" menu-close ui-sref="onboarding.welcome">
          Onboarding
          <i class="icon ion-ios-checkmark-empty"></i>
        </ion-item>
        <ion-item class="icon item-icon-right" menu-close ui-sref="medication_identification.welcome">
          Medication Identification
          <i class="icon ion-ios-checkmark-empty"></i>
        </ion-item>
        <ion-item class="icon item-icon-right" menu-close ui-sref="medication_scheduling.welcome">
          Medication Scheduling
          <i class="icon ion-ios-checkmark-empty"></i>
        </ion-item>
      </ion-list>
    </ion-content>

    <ion-footer-bar align-title="center" class="bar-stable">
      <h1 class="title" ng-click="logout()">Logout</h1>
    </ion-footer-bar>
  </ion-side-menu>
</ion-side-menus>
