<link type="text/css" rel="stylesheet" href="css/appointmentStyle.css"/>

<ion-view title="Appointments" class = "appointment">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div ng-controller="appointmentsCtrl">
		    <div class = "center"> 
		  		<a class="button, absleft"><</a>
	      		<span ng-bind="curDate | date:'MM/yyyy' "></span>
	      		<a class="button, absright">></a>
		   	</div>
		    <table class = "center">
		    	<thead>
			        <tr>
			          <th>S</th>
			          <th>M</th>   
			          <th>T</th>
			          <th>W</th>
			          <th>T</th>   
			          <th>F</th>
			          <th>S</th>
			        </tr>
		        </thead>
		        <tbody>
			        <tr ng-repeat="week in weeks">
<!-- 				        <td ng-repeat="day in week track by $index" ng-class="{ 'EventDay': isEventDay(day), 'CurrentDay': day == {{today}} }" ng-click = "eventDetail(day)">
			                 {{day}}
			            </td> -->
			            <td ng-repeat="day in week track by $index" 
			                ng-class="{ 'EventDay': eventDates.indexOf({{day}}) > -1, 'CurrentDay': day == {{today}} }"
			      			ui-sref="tabsController.appointment({appointmentId: eventDates.indexOf({{day}})})"         
			                > 
			                {{day}}
			            </td>
			        </tr>       
			    </tbody>
	 <!--  eat-click-if = "3 > 5"
			                ui-sref = "tabsController.appointment({appointmentId: eventDates.indexOf({{day}})})" -->		              
   <!-- ui-sref="{{ isEventDay(day) ? 'tabsController.appointment({appointmentId: {{day}}})' : ' '}}"      -->
			                <!-- ui-sref-active="eventDates.indexOf({{day}}) > -1" -->
		    </table>
		</div>
    </ion-content>
</ion-view>
