<ion-view title="Appointment">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Feb 2, 2016 9:00 AM</div>
            <div class="item item-body">
                <ion-list></ion-list>
                <ion-list>
                    <ion-item>Appointment with Dr. Hart</ion-item>
                    <ion-item>2020 Kittredge Street</ion-item>
                    <ion-item>Please bring your ID</ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>