<ion-view title="Comments">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refreshComments()" pulling-icon="ion-ios-refresh-empty"></ion-refresher>

    <div class="row" ng-repeat="comment in comments">
      <div class="list-inset list col-75" ng-class="{'col-offset-25': belongsToPatient(comment)}" style="">
        <div class="item padding" ng-class="{'text-right': belongsToPatient(comment)}">
          {{comment.message}}
          <p class="stable">
            {{comment.timestamp | date:"hh:mma, MMM d"}}
          </p>
        </div>
      </div>
    </div>
  </ion-content>

  <ion-footer-bar class="bar bar-footer item-input-inset">
    <label class="item-input-wrapper">
       <input type="text" ng-model="comment.content" placeholder="Write a message..." ng-keypress="trackEnterKey($event)">
     </label>
  </ion-footer-bar>
</ion-view>
