
<ion-view title="Goals">
    <!-- Add Goals + button -->
    <ion-nav-buttons side="right">
        <button id="goals-button3" class="button button-clear button-icon icon ion-ios-plus-empty button-positive" ui-sref="tabsController.addGoal"></button>
    </ion-nav-buttons>

    <ion-content overflow-scroll="true" padding="true" class="has-header">

        <!-- Cards for each goal type -->
        <div class="card">
            <div class="item item-divider">Personal goals ( {{ (goals | filter:{type:'personal'}).length }} )
              <a href="#" class="item-icon-right" ng-click="visible.personal = !visible.personal">
                <i class="icon" ng-class="visible.personal ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
              </a>
            </div>
            <ion-list ng-show="visible.personal">
              <ion-item ng-repeat="g in goals | filter:{type:'personal'}">{{$index+1}}. {{g.body}}</ion-item>
            </ion-list>
        </div>

        <div class="card">
            <div class="item item-divider">Clinical goals ( {{(goals | filter:{type:'clinical'}).length}} )
              <a href="#" class="item-icon-right" ng-click="visible.clinical = !visible.clinical">
                  <i class="icon" ng-class="visible.clinical ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
              </a>
            </div>

            <ion-list ng-show="visible.clinical">
                <ion-item ng-repeat="g in goals | filter:{type:'clinical'}">{{$index+1}}. {{g.body}}</ion-item>
            </ion-list>
        </div>
    </ion-content>


</ion-view>
