
<ion-view title="Goals">
    <!-- Add Goals + button -->
    <ion-nav-buttons side="right">
        <button id="goals-button3" class="button button-clear button-icon icon ion-plus button-positive" ui-sref="tabsController.addGoal"></button>
    </ion-nav-buttons>

    <ion-content overflow-scroll="true" padding="true" class="has-header">

        <!-- Cards for each goal type -->
        <div class="card">
            <div class="item item-divider">Personal goals ({{personal_goals.length}})</div>
            <ion-list>
                <ion-item ng-repeat="g in personal_goals">{{g.id}}. {{g.body}}</ion-item>
            </ion-list>
        </div>

        <div class="card">
            <div class="item item-divider">Clinical goals ({{clinical_goals.length}})</div>

            <ion-list>
                <ion-item ng-repeat="g in clinical_goals">{{g.id}}. {{g.body}}</ion-item>
            </ion-list>
        </div>
    </ion-content>


</ion-view>
