
<ion-view title="Goals">
    <!-- Add Goals + button -->
    <ion-nav-buttons side="right">
        <button id="goals-button3" class="button button-clear button-icon icon ion-plus button-positive" ui-sref="tabsController.addGoal"></button>
    </ion-nav-buttons>

    <ion-content overflow-scroll="true" padding="true" class="has-header">

        <!-- Cards for each goal type -->
        <div class="card">
            <div class="item item-divider">Personal goals ({{personal_goals.length}})
                <a href="#" class="item-icon-right" ng-click="pToggle=!pToggle">
                    <i ng-class="{'icon ion-chevron-down': !pToggle, 'icon ion-chevron-up': pToggle}"></i>
                </a>
            </div>
            <ion-list ng-show="pToggle">
                <ion-item ng-repeat="g in personal_goals">{{$index+1}}. {{g.body}}</ion-item>
            </ion-list>
        </div>

        <div class="card">
            <div class="item item-divider">Clinical goals ({{clinical_goals.length}})                
                <a href="#" class="item-icon-right" ng-click="cToggle=!cToggle">
                    <i ng-class="{'icon ion-chevron-down': !cToggle, 'icon ion-chevron-up': cToggle}"></i>
                </a>
            </div>

            <ion-list ng-show="cToggle">
                <ion-item ng-repeat="g in clinical_goals">{{$index+1}}. {{g.body}}</ion-item>
            </ion-list>
        </div>
    </ion-content>


</ion-view>
