<link type="text/css" rel="stylesheet" href="css/timelineStyle.css"/>

<ion-view title="History" class="timeline">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh" on-refresh="refresh()" pulling-icon="ion-ios-refresh-empty"></ion-refresher>

    <div class="list text-center" ng-show="today.cards.length === 0">
      <div class="item item-body">
        Looks like you don't have any history yet. Try pulling down to refresh.
      </div>
    </div>

    <div class="list">
      <div ng-repeat="date in dates">
        <div class="card-section history padding">
          <hr class="responsive-col"></hr>
          <h4 class="text-center">{{date.date | date:'EEE MMM dd, yyyy'}}</h4>
        </div>

        <!-- <div class="card" ng-if="date.cards.length == 0">
          <div class="item">
            <h2 style="text-align:center;">
              No cards to display
            </h2>
          </div>
        </div> -->

        <div class="card" ng-repeat="card in date.cards">
          <div class="item item-avatar item-text-wrap item-icon-left item-icon-right" ui-sref="tabsController.medication_reminder_history_card({card_id: card.id, schedule_id: card.object_id, date: date.date})" ng-if="card.object_type == 'medication_schedule'">
            <i class="icon ion-medkit"></i>
            <h2 style="font-weight: bold; font-size: 20px;">
              {{card.schedule.time | formatTime}}
            </h2>
            <p>
              <span ng-if="!card.skipped && !card.completed && !card.taken">We don't have information about this card. Maybe you skipped it?</span>
              <!-- <ng-pluralize count="card.completed.length" when="{'0': 'You didnt complete any medications', 'one': 'You completed 1 medication', 'other': 'You completed {} medications'}">
              </ng-pluralize>
              <br> -->
              <ng-pluralize count="card.skipped.length" when="{'0': 'You didnt skip any medications', 'one': 'You skipped 1 medication', 'other': 'You skipped {} medications'}">
              </ng-pluralize>
              <br>
              <ng-pluralize count="card.taken.length" when="{'0': 'You didnt take any medications', 'one': 'You took 1 medication', 'other': 'You took {} medications'}">
              </ng-pluralize>
            </p>
            <i class="icon ion-ios-arrow-right"></i>
            <!-- <i class="icon ion-ios-arrow-right"></i> -->
          </div>


          <div class="item item-avatar item-icon-left" ng-if="card.object_type == 'appointment'">
            <i class="icon ion-ios-clock-outline"></i>
            <h2 style="font-weight: bold; font-size: 20px;">
              {{card.appointment.time | formatTime}}
              <span style="font-size: 14px; color: #888; font-weight: normal;">{{card.appointment.date | date:'EEE MMM dd, yyyy'}}</span>
            </h2>
            <p>
              {{card.appointment.title}} · {{card.appointment.note}}
            </p>
          </div>
        </div>
      </div>
    </div>

    <ion-infinite-scroll on-infinite="loadMore()" distance="10%" immediate-check="false"></ion-infinite-scroll>
  </ion-content>
</ion-view>
