<link type="text/css" rel="stylesheet" href="css/timelineStyle.css"/>

<ion-view title="History" class="timeline">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh" on-refresh="refresh()" pulling-icon="ion-ios-refresh-empty"></ion-refresher>

    <div class="list text-center" ng-show="today.cards.length === 0">
      <div class="item item-body">
        Looks like you don't have any history yet. Try pulling down to refresh.
      </div>
    </div>

    <div class="list">
      <div ng-repeat="date in dates">
        <div class="card-section history padding">
          <hr class="responsive-col"></hr>
          <h4 class="text-center">{{date.date | date:'EEE MMM dd, yyyy'}}</h4>
        </div>

        <!-- <div class="card" ng-if="date.cards.length == 0">
          <div class="item">
            <h2 style="text-align:center;">
              No cards to display
            </h2>
          </div>
        </div> -->

        <div class="card" ng-repeat="card in date.cards">
          <div class="item item-avatar item-text-wrap item-icon-left item-icon-right" ui-sref="tabsController.medication_reminder_history_card({card_id: card.id, schedule_id: card.object_id, date: date.date})" ng-if="card.object_type == 'medication_schedule'">
            <i class="icon ion-medkit"></i>
            <h2 style="font-weight: bold; font-size: 20px;">
              Medication Reminder
              <span class="card-label balanced"  ng-if="card.status == 'completed'">Completed</span>
            </h2>
            <span style="font-size: 16px; color: #666; font-weight: bold;">{{card.schedule.time | formatTime}}</span>
            ·
            <span style="font-size: 16px; color: #666; font-weight: bold;">{{date.date | formatDateWithWeekday}}</span>
            <!-- <p>
              <ng-pluralize count="card.medications_length" when="{'0': 'No medications to take', 'one': '1 medication to take', 'other': '{} medications to take'}"></ng-pluralize>
            </p> -->
            <p ng-if="card.taken_medications">You took {{card.taken_medications}}</p>
            <p ng-if="card.skipped_medications">You skipped {{card.skipped_medications}}</p>
            <i class="icon ion-ios-arrow-right"></i>
            <!-- <i class="icon ion-ios-arrow-right"></i> -->
          </div>


          <div class="item item-avatar item-icon-left" ng-if="card.object_type == 'appointment'">
            <i class="icon ion-ios-clock-outline"></i>
            <h2 style="font-weight: bold; font-size: 20px;">
              {{card.appointment.time | formatTime}}
              <span style="font-size: 14px; color: #888; font-weight: normal;">{{card.appointment.date | date:'EEE MMM dd, yyyy'}}</span>
            </h2>
            <p>
              {{card.appointment.title}} · {{card.appointment.note}}
            </p>
          </div>
        </div>
      </div>
    </div>

    <ion-infinite-scroll on-infinite="loadMore()" distance="10%" immediate-check="false"></ion-infinite-scroll>
  </ion-content>
</ion-view>
