<ion-view title="Measurements">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Weight</span>
                    <input type="number" placeholder="incomplete">
                </label>
                <label class="item item-input">
                    <span class="input-label">Blood Pressure</span>
                    <input type="number" placeholder="incomplete">
                </label>
                <label class="item item-input">
                    <span class="input-label">Heart Rate</span>
                    <input type="number" placeholder="incomplete">
                </label>
            </ion-list>
        </form>
    </ion-content>
</ion-view>