<ion-view title="Measurement Tips">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-item>Blood Pressure Tips</ion-item>
            <ion-item>∙ Be still</ion-item>
            <ion-item>∙ Make sure you haven't had any caffeine, tobacco, or exercise in the last 30 minutes.</ion-item>
            <ion-item>∙ Wait one minute before taking another measurement.</ion-item>
            <ion-item>∙ Make sure you are sitting down, with your back supported by a chair and your feet on the floor.</ion-item>
        </form>
    </ion-content>
</ion-view>