<ion-view title="Medications">
  <ion-content overflow-scroll="true" padding="false" class="has-header">
    <ion-list>
      <a class="item item-divider item-icon-right" ui-sref="tabsController.medicationsSchedule({date:'20160321', schedule:'morning'})">
        Morning
        <i class="icon ion-ios-arrow-right"></i>
      </a>

      <ion-item ng-repeat="med in schedule.morning", ui-sref="tabsController.medication({date:'20160321', schedule:'morning', medicationName: med.name})" ng-hide="hasTaken(med.id, 'morning')"
      ng-style="{'color': getColor(med.id, 'morning')}">
        {{med.trade_name}}
      </ion-item>

      <a class="item item-divider item-icon-right" ui-sref="tabsController.medicationsSchedule({date:'20160321', schedule:'afternoon'})">
        Afternoon
        <i class="icon ion-ios-arrow-right"></i>
      </a>

      <ion-item ng-repeat="med in schedule.afternoon" ui-sref="tabsController.medication({date:'20160321', schedule:'afternoon', medicationName: med.name})" ng-hide="hasTaken(med.id, 'afternoon')"
      ng-style="{'color': getColor(med.id, 'afternoon')}">
        {{med.trade_name}}
      </ion-item>

      <a class="item item-divider item-icon-right" ui-sref="tabsController.medicationsSchedule({date:'20160321', schedule:'evening'})">
        Evening
        <i class="icon ion-ios-arrow-right"></i>
      </a>

      <ion-item ng-repeat="med in schedule.evening" ui-sref="tabsController.medication({date:'20160321', schedule:'evening', medicationName: med.name})" ng-hide="hasTaken(med.id, 'evening')"
      ng-style="{'color': getColor(med.id, 'evening')}">
        {{med.trade_name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
