<ion-view title="Medications">
  <ion-content overflow-scroll="true" padding="false" class="has-header">
    <ion-list>
      <span ng-repeat = "dateSchedule in schedule">

        <a class="item item-divider item-icon-right" ui-sref="tabsController.medicationsSchedule({schedule_id: dateSchedule.id})">
          {{dateSchedule.slot}}
          <i class="icon ion-ios-arrow-right"></i>
        </a>

        <ion-item ng-repeat="med in dateSchedule.medications", ui-sref="tabsController.medication({schedule_id: 1, medicationName: med.name})" ng-hide="hasTaken(med.id, 'morning')"
        ng-style="{'color': hasSkipped(med.id, 'morning')}">
          {{med.trade_name}}
        </ion-item>
      </span>

  
    </ion-list>
  </ion-content>
</ion-view>
