<ion-view title="OnBoarding" >
  <ion-header-bar class="bar bar-subheader">
    <h1 class="title">Set up your onPoint plan</h1>
  </ion-header-bar>
  <ion-content overflow-scroll="true" padding="true" class="has-header">
     <div style="text-align: center;">
        <img class="icon ion-image" ng-src="img/onPoint_logo.png"></img>
     </div>
     <ion-list>
        <ion-item class="item-icon-right">
          Medications
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-right">
          Measurements
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-right">
          Appointments
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-right">
          Appointments
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-right">
          Goals
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
     </ion-list>
  </ion-content>
</ion-view>
