<ion-view title="Settings">
  <ion-content overflow-scroll="true" padding="false" class="has-header">
    <ul class="list">
    	<li class="item item-icon-right" ui-sref="tabsController.settingsMedicationSchedule">
        Medication Schedule
        <i class="icon ion-ios-arrow-right"></i>
      <li>

      <li class="item item-icon-right" ui-sref="measurementList">
        Measurement Schedule
        <i class="icon ion-ios-arrow-right"></i>
      <li>

      <li class="item" ng-click="logout()">
        Logout
      <li>
    </ul>
  </ion-content>
</ion-view>
