<link type="text/css" rel="stylesheet" href="css/settingsMedSchedStyle.css"/>

<!-- Template for popup TODO: move somewhere else? -->
<script id="medSched-popup-template.html" type="text/ng-template">
  <input type="password" ng-model="newSlotName.text" placeholder="Time Slot e.g. Noon">
  <p ng-if="showError">Please enter a name</p>
</script>

<ion-view title="Medications Schedule" class="medsched">
  <ion-nav-buttons side="right">
    <button class="button button-clear button-positive"
            ng-click="saveMedicationSchedule()">Save</button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="true" padding="false" class="has-header">
    <!-- <div class="tabs tabs-striped tabs-color-assertive tabs-top"> -->
      <!-- <a class="tab-item"><i class="icon ion-ios-arrow-left"></i></a> -->
      <!-- <a class="tab-item " ng-repeat = "day in week"> -->
        <!-- {{day}} -->
      <!-- </a> -->
      <!-- <a class="tab-item"><i class="icon ion-ios-arrow-right"></i></a> -->
    <!-- </div> -->
      <div class = "item item-icon-right">
        <button id="schedule-add" style="float:right"
                class="button button-clear button-small ion-plus button-positive"
                ng-click="addTimeSlot()"> Add Time Slot</button>
      </div>

    <!-- The dnd-draggable directive makes an element draggable and will
         transfer the object that was assigned to it. If an element was
         dragged away, you have to remove it from the original list
         yourself using the dnd-moved attribute -->

    <ul dnd-list="schedule"
        dnd-allowed-types="['timeSlotType']"
        >
        <li class = "card item"
            ng-repeat="dateSchedule in schedule"
            dnd-type="'timeSlotType'"
            dnd-draggable="dateSchedule"
            dnd-moved="schedule.splice($index, 1)"
            dnd-effect-allowed="move"
            >
            {{dateSchedule.slot | uppercase}}
            <ul dnd-list="dateSchedule.medications"
                dnd-horizontal-list="true"
                dnd-allowed-types="['medType']"
                dnd-drop="dropCallback(event, index, item, external, type, 'itemType',
                                        dateSchedule, dateSchedule.medications == null)"
                >
                <li ng-repeat="med in dateSchedule.medications"
                    dnd_type="'medType'"
                    dnd-draggable="med"
                    dnd-moved="dateSchedule.medications.splice($index, 1)"
                    dnd-effect-allowed="move"
                    >
                    {{med}}
                </li>
            </ul>

        </li>
    </ul>

    <!-- TODO: Connect this to the Fill Medbox page -->
    <button id="medSched-next"
            class="button button-positive button-block button-big"
            ng-click="saveMedicationSchedule()">Save and Continue</button>

  </ion-content>
</ion-view>
