<ion-view title="Symptoms - Slider">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            <p>Step
                <strong>1</strong>of
                <strong>8</strong>
            </p>
        </div>
        <h4>In terms of anxiety, select the number that best describes how you feel now.</h4>
        <h1>2</h1>
        <div>
            <p>No anxiety..................... Worst possible anxiety</p>
        </div>
        <form class="list">
            <ion-item class="range range-positive">
                <input type="range" value="2" min="1" max="10">
            </ion-item>
        </form>
        <div>
            <p>1....................................................................10</p>
        </div>
        <a ui-sref="symptomsList" id="symptomsSlider-button8" class="button button-stable button-block ">Next</a>
        <button id="symptomsSlider-button9" class="button button-stable button-block ">Skip this question</button>
    </ion-content>
</ion-view>