<ion-view title="Symptoms - List">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            <p>Step
                <strong>2</strong>of
                <strong>8</strong>
            </p>
        </div>
        <h4>You ranked your anxiety as 8 on a scale of 1-10.</h4>
        <h4>Have you felt this anxious for two weeks or longer?</h4>
        <form class="list"></form>
        <ion-list>
            <ion-item>Yes, continuously.</ion-item>
            <ion-item>Yes, off and on.</ion-item>
            <ion-item>No</ion-item>
        </ion-list>
        <button id="symptomsList-button10" class="button button-stable button-block ">Next</button>
        <button id="symptomsList-button11" class="button button-stable button-block ">Skip this question</button>
    </ion-content>
</ion-view>