<link type="text/css" rel="stylesheet" href="css/timelineStyle.css"/>

<ion-view title="Home" class = "timeline">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-ios-gear-outline button-positive button-clear"
    ui-sref="tabsController.settings"></button>
  </ion-nav-buttons>

  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <!-- Display Current Date -->
    <center>{{getDay() | date}}</center>
    <ion-refresher pulling-text="Pull to refresh" on-refresh="generateCardsForToday()">
    </ion-refresher>
    <!-- Text input for Symptoms Feeling tracker -->
    <!-- TODO: Save button on right? -->
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="How are you feeling?">
      </label>
    </div>

    <!-- Create Cards -->
    <div ng-repeat="type in CARD.CATEGORY"> {{cards.$getRecord(type)}}

      <!-- TODO: Update this to filter by archived_at NULL -->
      <div class="card" ng-repeat="c in cards.$getRecord(type) | orderBy: 'updated_at'" ng-show="shouldDisplayCard(c.shown_at)" on-swipe-right="swipeCard(c)" on-swipe-left="swipeCard(c)">
        <!-- Card Title -->

        <div ng-class="['item', getCardStatus(c)]">
          <a href="#">{{c.type == CARD.TYPE.ACTION ? 'Take ': c.type == CARD.TYPE.URGENT ? 'TODO: ': ''}}{{type}}{{c.type == CARD.TYPE.REMINDER ? ' Reminder':''}}</a>
          <a style="float:right">{{getTime(c.shown_at) | date: 'h:mm a'}}</a>
        </div>

        <!-- Card Body -->
        <div class="item item-text-wrap" >
          <div ng-repeat="line in getBody(c) track by $index">{{line}}</div>
        </div>

        <!-- Card Buttons -->
        <div class="button-bar">
          <a class="button button-small icon ion-ios-chatboxes-outline" ui-sref="tabsController.comments({id:c.id})"> Comments  ({{getCommentsCount(c.id)}})</a>
          <a class="button button-small" ng-click="openPage(c)">Action</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
