<link type="text/css" rel="stylesheet" href="css/timelineStyle.css"/>

<ion-view title="Upcoming" class = "timeline">
  <!-- Stuff after here will scroll -->
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh" on-refresh="loadCards()" pulling-icon="ion-ios-refresh-empty"></ion-refresher>

    <div class="list text-center" ng-show="today.cards.length === 0">
      <div class="item item-body">
        No cards found. Try pulling down to refresh.
      </div>
    </div>

    <div class="list">
      <div ng-repeat="date in dates track by $index">
        <div class="card-section history padding">
          <hr class="responsive-col"></hr>
          <h4 class="text-center" ng-if="$index == 0">Today ({{date.date | date:'EEE MMM dd, yyyy'}})</h4>
          <h4 class="text-center" ng-if="$index == 1">Tomorrow ({{date.date | date:'EEE MMM dd, yyyy'}})</h4>
        </div>

        <div class="card" ng-repeat="card in date.cards">
          <a class="item item-avatar item-icon-left item-icon-right item-text-wrap" ng-click="openPage(card, card.object_type, date.date)" ng-if="card.object_type == 'medication_schedule'">
            <i class="icon ion-medkit"></i>
            <h2 style="font-weight: bold; font-size: 18px;">
              Medication
              <span class="card-label balanced"  ng-if="card.status == 'completed'">Completed</span>
              <span class="card-label energized" ng-if="card.status == 'inprogress'">In Progress</span>
              <span class="card-label assertive" ng-if="card.status == 'overdue'">Overdue</span>
            </h2>
            <span style="font-size: 16px; color: #666; font-weight: bold;">{{card.schedule.time | formatTime}}</span>
            ·
            <span style="font-size: 16px; color: #666; font-weight: bold;">{{date.date | formatDateWithWeekday}}</span>
            <!-- <p>
              <ng-pluralize count="card.medications_length" when="{'0': 'No medications to take', 'one': '1 medication to take', 'other': '{} medications to take'}"></ng-pluralize>
            </p> -->
            <p ng-if="card.schedule && card.schedule.medications">
              You need to take
              <span ng-repeat="(med_id, med_data) in card.schedule.medications">
                {{med_data.nickname || med_data.name}}{{$last ? '' : ', '}}
              </span>

            </p>
            <p ng-if="card.taken_medications">You took {{card.taken_medications}}</p>
            <p ng-if="card.skipped_medications">You skipped {{card.skipped_medications}}</p>
            <i class="icon ion-ios-arrow-right" ng-if="card.upcoming"></i>
          </a>

          <a class="item item-avatar item-icon-left item-icon-right" ng-if="card.object_type == 'measurement_schedule'" ui-sref="tabsController.measurements">
            <i class="icon ion-arrow-graph-down-right"></i>
            <h2 style="font-weight: bold; font-size: 18px;">
              Measurement
            </h2>
            <p>Time for a check-in!</p>
            <i class="icon ion-ios-arrow-right"></i>
          </a>

          <a class="item item-avatar item-icon-left item-icon-right" ng-if="card.object_type == 'appointment_reminder'" ui-sref="tabsController.appointments">
            <i class="icon ion-ios-clock-outline"></i>
            <h2 style="font-weight: bold; font-size: 18px;">
              Appointment
            </h2>
            <span style="font-size: 16px; color: #666; font-weight: bold;">{{card.appointment.time | formatTime}} {{card.appointment.date | formatDateWithWeekday}}</span>
            <p>
              {{card.appointment.title}} · {{card.appointment.note}}
            </p>
            <i class="icon ion-ios-arrow-right"></i>
          </a>

          <a class="item item-avatar" ng-if="card.object_type == 'questionnaire_reminder'" ui-sref="tabsController.surveys">
            <img src="img/cards/survey.png"></img>
            <h2 style="font-weight: bold; font-size: 20px;">
              Questionnaire reminder
            </h2>
          </a>
        </div>
      </div>
    </div>


  </ion-content>
</ion-view>
