<ion-modal-view class="login-modal">
  <ion-header-bar class="bar bar-header bar-stable">
    <h1 class="title">Add a medication</h1>
    <button class="button button-clear button-positive" ng-click="closeModal()">Cancel</button>
  </ion-header-bar>
  <ion-content has-bouncing="false" class="login-view" scroll="false">
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">Medication Name</div>
          <select ng-model="medication.name"
                  ng-options="med.trade_name for med in medications">
          </select>
      </label>
    </div>
  </ion-content>

  <div class="bar bar-footer bar-balanced">
    <div class="buttons full-width">
      <button class="button button-clear" ng-click="addMedicationToSlot()">Add</div>
    </div>
  </div>

</ion-modal-view>
