<ion-view title="Your pillbox" class = "onboarding">
  <ion-content overflow-scroll="true" class="has-header has-footer">
    <table>
      <thead>
          <tr>
            <th style="width: 25%;">Slots</th>
            <th>S</th>
            <th>M</th>
            <th>T</th>
            <th>W</th>
            <th>T</th>
            <th>F</th>
            <th>S</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="dateSchedule in schedule | orderBy: 'time'">
            <td>{{dateSchedule.name}}<br>{{dateSchedule.time | formatTime}}</td>
            <td ng-repeat="slot in dateSchedule.slots track by $index" >
              <span ng-if="slot.dosage">{{slot.dosage}}</span>
            </td>
          </tr>
      </tbody>
    </table>

    <ion-list>
      <ion-item class="item-divider">Your medications</ion-item>
      <a class="item item-avatar item-icon-right" ng-class="{'item-calm': currentlyOn(med)}" ng-repeat="med in medications track by $index" ng-click="displaySchedule(med)">
        <img src="img/pill_small.png">
        <h2>{{med.nickname || med.name}}</h2>
        <p>{{med.dosage}} {{med.units}}</p>
        <i class="icon ion-ios-circle-outline"    ng-if="!hasSelected(med)"></i>
        <i class="icon ion-ios-checkmark-outline" ng-if="hasSelected(med)"></i>
      </a>

      <!-- <li class="item medstyle item-text-wrap" ng-repeat="med in medications | filter: {cab_med: '!'}", ng-click="displaySchedule(med)",
      style="{{buttonStyle(med)}}; background-image: url({{getMedImg(med.trade_name)}})">
        {{med.name}}
      </li> -->
    </ion-list>
  </ion-content>


  <ion-footer-bar align-title="middle" class="bar-balanced">
    <div class="buttons full-width" ui-sref="medication_scheduling.fill_pillbox_complete">
      <button class="button button-clear">Continue</button>
    </div>
  </ion-footer-bar>
</ion-view>
