<ion-view title="Add a time slot">

  <form ng-submit="addTimeSlot()">
    <ion-content overflow-scroll="true">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Slot Name</span>
          <input type="text" ng-model="slot.name" placeholder="E.g. Noon"></input>
        </label>

        <label class="item item-input">
          <span class="input-label">Reminder Time</span>
          <input type="time"  ng-model="slot.time"></input>
        </label>
      </div>
    </ion-content>


    <div class="bar bar-footer bar-balanced">
      <div class="row" style="padding: 0px;">
        <button type="submit" class="col button button-clear" ng-disabled="!slot.name || !slot.time">Add</button>
      </div>
    </div>
  </form>
</ion-view>
