<link type="text/css" rel="stylesheet" href="css/settingsMedSchedStyle.css"/>

<ion-view title="Medications Schedule" class="medsched">
  <ion-nav-buttons side="right">
    <button class="button icon-right ion-ios-plus-empty button-clear button-positive" ui-sref="medication_scheduling.new"></button>
  </ion-nav-buttons>

  <ion-content overflow-scroll="true" padding="false" class="has-header" ng-controller="medImgCtrl">

    <ul class="list">
      <div ng-repeat="dateSchedule in schedule | orderBy: 'time'">
        <ion-item class="item item-icon-right" style="background-color: #f5f5f5;">
          <b>{{dateSchedule.name}} (remind at {{dateSchedule.time}})</b>
          <i class="icon ion-edit" ui-sref="medication_scheduling.edit({id: dateSchedule.$id})"></i>
        </ion-item>

        <div dnd-list="dateSchedule.medications" dnd-allowed-types="['medType']" dnd-drop="dropCallback(event, index, item, external, type, 'itemType', dateSchedule, dateSchedule.medications == null)" class="itemlist">
          <ion-item class="item-icon-left">
            <i class="icon ion-ios-plus balanced"></i>
            Add a medication
          </ion-item>

          <ion-item class="item-icon-left item-icon-right" ng-repeat="med in dateSchedule.medications" dnd-type="'medType'" dnd-draggable="med" dnd-moved="dateSchedule.medications.splice($index, 1)" dnd-effect-allowed="move">
            <i class="icon ion-ios-minus assertive"></i>
            {{med}}
            <i class="icon ion-navicon"></i>
          </ion-item>
        </div>
      </div>
    </ul>


    <!-- <ul dnd-list="schedule" dnd-allowed-types="['timeSlotType']">
      <li class = "card item" ng-repeat="dateSchedule in schedule | orderBy: 'time'">
        <a class="item">{{dateSchedule.slot | uppercase}}
          <i class="item-small item-icon-right" style="float:right">
          {{timeDisplayFormat(dateSchedule.time)}}
            <i class="icon ion-edit button button-clear button-positive" ng-click="editSlot(dateSchedule)"></i>
          </i>
        </a>

        <ul dnd-list="dateSchedule.medications" dnd-horizontal-list="true" dnd-allowed-types="['medType']" dnd-drop="dropCallback(event, index, item, external, type, 'itemType', dateSchedule, dateSchedule.medications == null)" class="itemlist">
          <li ng-repeat="med in dateSchedule.medications" dnd_type="'medType'" dnd-draggable="med" dnd-moved="dateSchedule.medications.splice($index, 1)" dnd-effect-allowed="move" style="background-image: url({{getMedImg(med)}})">{{med}}</li>
        </ul>
      </li>
    </ul> -->

  </ion-content>


  <div class="bar bar-footer bar-balanced">
    <div class="buttons full-width">
      <button id="medSched-next" class="button button-clear" ng-click="saveMedicationSchedule()" ng-disabled="disableGenerate()">Save and Continue</div>
    </div>
  </div>

</ion-view>
