<!-- <link type="text/css" rel="stylesheet" href="css/settingsMedSchedStyle.css"/> -->

<ion-view title="Schedule" class="medsched">
  <ion-nav-buttons side="right">
    <button class="button icon-right ion-ios-plus-empty button-clear" ui-sref="medication_scheduling.new"></button>
  </ion-nav-buttons>

  <ion-content overflow-scroll="true" padding="false" class="has-header has-footer">

    <ul class="list">
      <ion-item class="item item-text-wrap" ng-if="schedule.length == 0">
        <p class="text-center">You don't have a schedule yet. Use the + icon in the navigation bar
        to add a slot.</p>
      </ion-item>

      <div ng-repeat="dateSchedule in schedule | orderBy: 'time'">
        <ion-item class="item item-icon-right" style="background-color: #f5f5f5;">
          <b>{{dateSchedule.name}} ({{dateSchedule.time | formatTime}})</b>
          <i class="icon ion-ios-gear-outline" ui-sref="medication_scheduling.edit({id: dateSchedule.$id})"></i>
        </ion-item>

        <div dnd-list="dateSchedule.medications" dnd-allowed-types="['medType']" dnd-drop="dropCallback(event, index, item, external, type, 'itemType', dateSchedule, dateSchedule.medications == null)" class="itemlist">
          <ion-item class="item-icon-left" ng-click="addMedicationModal(dateSchedule.$id)">
            <i class="icon ion-ios-plus balanced"></i>
            Add a medication
          </ion-item>

          <ion-item class="item-icon-left" ng-repeat="med in dateSchedule.medications track by $index" dnd-type="'medType'" dnd-draggable="med" dnd-moved="dateSchedule.medications.splice($index, 1)" dnd-effect-allowed="move">
            <i class="icon ion-ios-minus assertive" ng-click="removeMedication(dateSchedule.$id, med)"></i>
            {{med.name}}
            <!-- <i class="icon ion-navicon"></i> -->
          </ion-item>
        </div>
      </div>
    </ul>


    <!-- <ul dnd-list="schedule" dnd-allowed-types="['timeSlotType']">
      <li class = "card item" ng-repeat="dateSchedule in schedule | orderBy: 'time'">
        <a class="item">{{dateSchedule.slot | uppercase}}
          <i class="item-small item-icon-right" style="float:right">
          {{timeDisplayFormat(dateSchedule.time)}}
            <i class="icon ion-edit button button-clear button-positive" ng-click="editSlot(dateSchedule)"></i>
          </i>
        </a>

        <ul dnd-list="dateSchedule.medications" dnd-horizontal-list="true" dnd-allowed-types="['medType']" dnd-drop="dropCallback(event, index, item, external, type, 'itemType', dateSchedule, dateSchedule.medications == null)" class="itemlist">
          <li ng-repeat="med in dateSchedule.medications" dnd_type="'medType'" dnd-draggable="med" dnd-moved="dateSchedule.medications.splice($index, 1)" dnd-effect-allowed="move" style="background-image: url({{getMedImg(med)}})">{{med}}</li>
        </ul>
      </li>
    </ul> -->

  </ion-content>

  <ion-footer-bar align-title="middle" class="bar-balanced">
    <div class="buttons full-width" ng-click="completeMedicationScheduling()">
      <button class="button button-clear" ng-disabled="schedule.length == 0">Complete Onboarding</button>
    </div>
  </ion-footer-bar>


</ion-view>
