<ion-view title="Medication Scheduling">
  <ion-content overflow-scroll="true">
    <div class="list card">
      <div class="item item-text-wrap">
        Great job on completing the Medication Identification. Let's now setup a
        schedule for your medication regimen. Here, we will define what days, and what time of day, you
        take what drugs.
      </div>

      <a class="item item-icon-right positive" ui-sref="medication_scheduling.start">
        <i class="icon ion-ios-arrow-right"></i>
        Begin
      </a>

    </div>
  </ion-content>
</ion-view>
