<link type="text/css" rel="stylesheet" href="css/appointmentStyle.css"/>

<ion-view title="Appointments" class = "appointment">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-icon icon ion-ios-plus-empty button-positive" ui-sref="tabsController.addAppointment"></button>
    </ion-nav-buttons>
  <ion-content has-header="true" overflow-scroll="true" scroll="true" padding="true" class="has-header">
    <ion-list class = "appointments-list">
      <ion-item class="view-appointments" ng-repeat="a in appointments | orderBy:a.timestamp: 'true'">
        <p>{{a.time | date:'MMM d, y h:mm a'}}</p>
        <p>Title: {{a.title}} </p>
        <p>Location: {{a.location}}</p>
        <p>Note: {{a.note}} </p>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>


<!-- <ion-view title="Appointments" class = "appointment">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-icon icon ion-ios-plus-empty button-positive" ui-sref="tabsController.addAppointment"></button>
    </ion-nav-buttons>

    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div ng-controller="appointmentsCtrl">
		    <div class = "center">
		  		<a class="button, absleft"><</a>
	      		<span ng-bind="curDate | date:'MM/yyyy' "></span>
	      		<a class="button, absright">></a>
		   	</div>
		    <table class = "center">
		    	<thead>
			        <tr>
			          <th>S</th>
			          <th>M</th>
			          <th>T</th>
			          <th>W</th>
			          <th>T</th>
			          <th>F</th>
			          <th>S</th>
			        </tr>
		        </thead>
		        <tbody>
			        <tr ng-repeat="week in weeks">
		            <td ng-repeat="day in week track by $index" ng-class="{ 'EventDay': hasAppointment(day), 'CurrentDay': day == {{today}} }", ng-click = "transitionToAppointment(day)">
		              {{day}}
		            </td>
			        </tr>
			    </tbody>
		    </table>
		</div>
    </ion-content>
</ion-view> -->
