<ion-view title="Appointment">

    <ion-content has-header="true" overflow-scroll="true" padding="true" class="has-header">
        <div class="list card"  ng-controller="appointmentCtrl">

          <div class="item item-divider">{{appointment.title}}</div>

          <ion-item class="item-icon-left item-text-wrap">
            <i class="icon ion-ios-clock-outline"></i>
            <span class="item-text-wrap" ng-bind="appointment.timestamp | date:'MM/dd/yyyy' "></span>
          </ion-item>

          <ion-item class="item-icon-left item-text-wrap">
            <i class="icon ion-ios-location-outline"></i>
            <p class="item-text-wrap"> {{appointment.location}}</p>
          </ion-item>

          <ion-item class="item-icon-left item-text-wrap">
            <i class="icon ion-clipboard"></i>
            <p class="item-text-wrap">{{appointment.note}}</p>
          </ion-item>

        </div>
    </ion-content>
</ion-view>
