<ion-view title="Edit Appointment">
  <ion-nav-buttons side="right">
      <button class="button button-clear button-icon icon button-positive" ng-click="save()">Save</button>
  </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form name="inputAppointment" class="list">
          <ion-list style = "text-align:center">

            <label class="item item-input">
              <span class="input-label"><strong>Title</strong></span>
              <input class="input-label"  type="text" placeholder="appointment with Doctor Who" ng-model="appointment.title" ></input>
            </label>

            <label class="item item-input">
              <span class="input-label"><strong>Location</strong></span>
              <input class="input-label" type="text" placeholder="Shuttack Avenue" ng-model="appointment.location" ></input>
            </label>

            <label class="item item-input">
              <span class="input-label"><strong>Date</strong></span>
              <input type="date" ng-model="appointment.newTime"></input>
            </label>

            <label class="item item-input">
              <span class="input-label"><strong>Time</strong></span>
              <input type="time" ng-model="appointment.newTime" ></input>
            </label>

            <label class="item item-input">
              <span class="input-label"><strong>Note</strong></span>
              <input class="input-label" type="text" placeholder="Remember to bring your ID" ng-model="appointment.note" ></input>
            </label>
          </ion-list>
        </form>
    </ion-content>
</ion-view>
