
<ion-view title="Welcome!">
  <ion-content overflow-scroll="true">
      <label class="item item-input">
        <input type="text" placeholder="First Name" ng-model="user.first_name"></input>
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Last Name" ng-model="user.last_name"></input>
      </label>
      <label class="item item-input">
        <input type="number" min="0" placeholder="Age" ng-model="user.age"></input>
      </label>

      <div class="button-bar padding">
        <a grouped-radio="'male'" ng-model="user.gender">Male</a>
        <a grouped-radio="'female'" ng-model="user.gender">Female</a>
      </div>

      <div class="padding">
        <button class="button button-positive button-block"
         ng-click="start()" ng-disabled="disableContinue()">
          <span ng-hide="state.loading">Get Started!</span>
          <ion-spinner icon="ios-small" class="spinner-stable" ng-show="state.loading"></ion-spinner>
         </button>
      </div>

  </ion-content>
</ion-view>
