
<ion-view title="Welcome!">
  <ion-content overflow-scroll="true">
    <div class="list text-center">
      <label class="item item-input">
        <input type="email" placeholder="Email" ng-model="user.email"></input>
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="user.password"></input>
      </label>

      <div class="padding">
        <button class="button button-positive button-block"
         ng-click="register()" ng-disabled="disableContinue()">
          <span ng-hide="state.loading">Register</span>
          <ion-spinner icon="ios-small" class="spinner-stable" ng-show="state.loading"></ion-spinner>
         </button>
      </div>


  </ion-content>
</ion-view>
