<ion-view title="Add a medication">
  <ion-content class="has-footer">
    <div class="list" ng-if="drug">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Name</span>
        <input type="text" ng-model="drug.name" disabled style="font-weight: bold; color: black;">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label" autofocus>Nickname</span>
        <input type="text" ng-model="drug.nickname">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Dose</span>
        <input type="text" ng-model="drug.dosage">
      </label>

      <label class="item tem-input item-stacked-label">
        <span class="input-label">Dose units</span>
        <input type="text" ng-model="drug.units">
      </label>

      <label class="item item-stacked-label item-select">
        <span class="input-label">Way of Administration</span>
        <select ng-model="drug.administration" ng-options="g for g in administrations"></select>
      </label>

      <label class="item item-stacked-label item-select">
        <span class="input-label">Frequency</span>
        <select ng-model="drug.frequency" ng-options="g for g in frequencies"></select>
      </label>

      <label class="item item-input item-stacked-label item-text-wrap">
        <span class="input-label">Purpose</span>
        <input type="text" ng-model="drug.purpose">
      </label>

      <label class="item item-input item-stacked-label" ng-click="shapeModal()">
        <span class="input-label">Shape</span>
        <p style="width: 100%; text-align: center;">
          <span ng-if="!drug.shape">Click to choose</span>
          <img ng-src="img/shapes/{{drug.shape}}.svg" style="height:50px; width:50px; text-align: center;" ng-if="drug.shape"></img>
        </p>
      </label>

      <label class="item item-input item-stacked-label" ng-click="colorModal()">
        <span class="input-label">Color</span>
        <p style="width: 100%; text-align: center;">
          <span ng-if="!drug.color">Click to choose</span>
          <button class="button button-dark" ng-style="{'background-color': drug.color}" ng-if="drug.color"></button>
        </p>
      </label>

    </div>
  </ion-content>

  <ion-footer-bar keyboard-attach class="bar bar-footer bar-balanced">
    <div class="buttons full-width">
      <button class="button button-clear" ng-click="add()" ng-disabled="!allowSave()">Add</div>
    </div>
  </ion-footer-bar>

</ion-view>
