<ion-view title="Add a medication">
  <ion-content class="has-footer">
    <div class="list" ng-if="drug">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Name</span>
        <input type="text" ng-model="drug.name" disabled style="font-weight: bold; color: black;">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label" autofocus>Nickname</span>
        <input type="text" ng-model="drug.nickname">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Dose</span>
        <input type="number" min="0" ng-model="drug.dosage">
      </label>

      <label class="item item-stacked-label item-select">
        <span class="input-label">Dose type</span>
        <select ng-model="drug.units" ng-options="g.value as g.display for g in units"></select>
      </label>

      <label class="item item-stacked-label item-select">
        <span class="input-label">Way of Administration</span>
        <select ng-model="drug.administration" ng-options="g for g in administrations"></select>
      </label>

      <label class="item item-stacked-label item-select">
        <span class="input-label">Frequency</span>
        <select ng-model="drug.frequency" ng-options="g for g in frequencies"></select>
      </label>

      <label class="item item-input item-stacked-label item-text-wrap">
        <span class="input-label">Purpose</span>
        <input type="text" ng-model="drug.purpose">
      </label>

      <div class="item item-body">
        <img class="full-image" src="{{drug.pill_images[0].imageUrl}}" ng-if="drug.pill_images.length > 0">
        <p class="text-center" ng-if="!drug.pill_images || drug.pill_images.length == 0">No pill image found</p>
      </div>
    </div>
  </ion-content>

  <ion-footer-bar keyboard-attach class="bar bar-footer bar-balanced">
    <div class="buttons full-width">
      <button class="button button-clear" ng-click="add()">Add</div>
    </div>
  </ion-footer-bar>

</ion-view>
