<ion-view title="New Medication">
  <ion-content>
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">Medication Name</div>
          <select ng-model="medication.name"
                  ng-change="medSelected(medication.name)"
                  ng-options = "med.trade_name for med in medications | filter: {user_input: '!true'}">
          </select>
      </label>

      <label class="item item-input">
         <span class="input-label">Dose</span>
        <input type="number" min="0" placeholder="Dose (e.g. 25)" ng-model="medication.dose" ></input>
        <span>mg</span>
      </label>

      <label class="item item-input">
        <span class="input-label">Instructions</span>
        <input type="text" placeholder="Instructions (e.g. orally)" ng-model="medication.instructions"></input>
      </label>

      <label class="item item-input">
        <span class="input-label">Purpose</span>
        <input type="text" placeholder="Purpose (e.g. used to treat heart failure)" ng-model="medication.purpose"></input>
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Any other notes?" ng-model="medication.notes"></input>
      </label>
    </div>
  </ion-content>

  <div class="bar bar-footer bar-balanced">
    <div class="title" ng-click="saveMedication()">Add</div>
  </div>

</ion-view>
