<ion-view title="{{medication.trade_name}}">
  <ion-nav-buttons side="right">
    <button class="button icon-right button-assertive button-clear" ng-click="removeMedication()">Remove</button>
  </ion-nav-buttons>

  <form ng-submit="update()">
    <ion-content>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Medication Name</span>
          <input type="text" ng-model="medication.trade_name"></input>
        </label>

        <label class="item item-input">
          <span class="input-label">Dosage</span>
          <input type="number" min="0" ng-model="medication.dose" ></input>
          <span>mg</span>
        </label>

        <label class="item item-input">
          <span class="input-label">Instructions</span>
          <textarea ng-model="medication.instructions"></textarea>
        </label>

        <label class="item item-input">
          <span class="input-label">Purpose</span>
          <textarea ng-model="medication.purpose"></textarea>
        </label>

        <label class="item item-input">
          <span class="input-label">Notes</span>
          <textarea ng-model="medication.notes"></textarea>
        </label>
      </div>
    </ion-content>


    <div class="bar bar-footer bar-balanced">
      <div class="row" style="padding: 0px;">
        <button type="submit" class="col button button-clear">Update</button>
      </div>
    </div>
  </form>

</ion-view>
