<ion-view title="{{medication.trade_name}}">
  <ion-nav-buttons side="right">
    <button class="button icon-right button-clear" ng-click="remove()">Remove</button>
  </ion-nav-buttons>

  <form ng-submit="update()">
    <ion-content class="has-footer">
      <div class="list" ng-if="drug">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Name</span>
          <input type="text" ng-model="drug.name" disabled>
        </label>


        <label class="item item-input item-stacked-label">
          <span class="input-label" autofocus>Way of Administration</span>
          <input type="text" ng-model="drug.administration" placeholder="E.g. By Mouth">
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Dose</span>
          <input type="number" ng-model="drug.dosage">
        </label>

        <label class="item item-stacked-label item-select">
          <span class="input-label">Dose type</span>
          <select ng-model="drug.units" ng-options="g.value as g.display for g in units"></select>
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Frequency</span>
          <input type="text" ng-model="drug.frequency">
        </label>
        <label class="item item-input item-stacked-label item-text-wrap">
          <span class="input-label">Purpose</span>
          <!-- <p ng-bind-html="drug.purpose"></p> -->
          <input type="text" ng-model="drug.purpose">
        </label>

        <div class="item item-body">
          <img class="full-image" src="{{drug.pill_images[0].imageUrl}}" ng-if="drug.pill_images.length > 0">
          <p class="text-center" ng-if="!drug.pill_images || drug.pill_images.length == 0">No pill image found</p>
        </div>
      </div>
    </ion-content>

    <div class="bar bar-footer bar-balanced">
      <div class="buttons full-width">
        <button class="button button-clear" type="submit">Update</div>
      </div>
    </div>
  </form>
</ion-view>
