<link type="text/css" rel="stylesheet" href="css/onboardingStyle.css"/>

<ion-view title="OnBoarding" class = "onboarding">
  <ion-header-bar class="bar bar-subheader">
    <h1 class="title">Fill pillbox</h1>
  </ion-header-bar>
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <table class = "center">
      <thead>
          <tr>
            <th>Slots</th>
            <th>S</th>
            <th>M</th>
            <th>T</th>
            <th>W</th>
            <th>T</th>
            <th>F</th>
            <th>S</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="schedule in medicationSchedule | orderBy: 'time'">

            <td>{{schedule.slot}}</td>
            <td ng-repeat="count in getSlots(schedule, selectedMed) track by $index" >
              {{count}}
            </td>
          </tr>
      </tbody>
    </table>
    <h3 class = "title" style="text-align: center;">
      Select Medication to Begin:
    </h3>
      <li class="item medstyle" ng-repeat="med in medications | filter: {cab_med: '!'}", ng-click="displaySchedule(med)",
      style="{{buttonStyle(med)}}; background-image: url({{getMedImg(med.trade_name)}})">
        {{med.trade_name}}
      </li>
    <button ng-click='doneMedSetup()' class="button button-positive  button-block" >Done</button>
  </ion-content>
</ion-view>
