<ion-view title="OnBoarding" >
  <ion-header-bar class="bar bar-subheader">
    <h1 class="title">Step 5 of 5 Fill pillbox</h1>
  </ion-header-bar>
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <h3 class = "title" style="text-align: center;">
      Let's fill in your pillbox.<br/>
      <br/>
      Please have your medications and your<br/>
      pillbox handy for the next step.
    </h3>
      <button ui-sref="carePlan.fillMain" class="button button-positive  button-block" >Fill My Pillbox</button>
      <button ui-sref="carePlan.setup" class="button button-positive  button-block" >Skip</button>
  </ion-ontent>
</ion-view>
