<ion-view title="Add your medications">
  <ion-nav-buttons side="right">
    <button class="button icon-right ion-ios-plus-empty button-clear button-positive" ui-sref="carePlan.newMedication"></button>
  </ion-nav-buttons>

  <ion-content overflow-scroll="true">
    <ul class="list">
      <li class="item" ng-hide="scheduledMeds()">
        You haven't added any medications!
      </li>

      <li class="item" ng-repeat="med in scheduledMedications" ng-show="med.user_input">
        {{med.trade_name}}
      </li>
    </ul>

    <div class="padding" ng-show="scheduledMeds()">
      <button class="button button-positive button-block" ng-click="generate()" ng-disabled="disableGenerate()">Generate schedule for these medications</button>
    </div>
  </ion-content>
</ion-view>
