<link type="text/css" rel="stylesheet" href="css/setupStyle.css"/>

<ion-view title="New Medication">
  <ion-content overflow-scroll="true">
    <div class="list text-center">
      <label class="item item-input">
        <input type="text" ng-model="newMedication.name" placeholder="Medication name (e.g. Lasix)"></input>
      </label>

      <label class="item item-input">
        <input type="number" min="0" placeholder="Dosage (e.g. 25)" ng-model="newMedication.dosage" ></input>
        <span>mg</span>
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Regimen (e.g. twice a day, morning and night)" ng-model="newMedication.timing"></input>
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Instructions (e.g. orally)" ng-model="newMedication.instructions"></input>
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Purpose (e.g. used to treat heart failure)" ng-model="newMedication.purpose"></input>
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Any other notes?" ng-model="newMedication.notes"></input>
      </label>
    </ion-list>

    <div class="padding">
      <button class="button button-positive button-block" ng-click="saveMedication()">Save</button>
    </div>
  </ion-content>
</ion-view>
