<ion-view title="Create a new measurement schedule">
  <ion-content overflow-scroll="true" padding="false" class="has-header">
    <form name = "newMeasurementForm" class="list">
        <ul>
          <label class="item item-input">
            <span class="input-label"><strong>Schedule Name</strong></span>
            <input class="input-label"  type="text" placeholder="E.g. My Daily Schedule" ng-model="newShedule.name" ></input>
          </label>

          <li class="item"><strong>Please select measurements</strong></li>
          <ion-checkbox ng-model="newShedule.weight">Weight</ion-checkbox>
          <ion-checkbox ng-model="newShedule.blood_pressure">Blood Pressure</ion-checkbox>
          <ion-checkbox ng-model="newShedule.heart_rate">Heart Rate</ion-checkbox>

          <li class="item"><strong>Please select days to be reminded</strong></li>
          <ion-checkbox ng-model="newShedule.days[0]">Sunday</ion-checkbox>
          <ion-checkbox ng-model="newShedule.days[1]">Monday</ion-checkbox>
          <ion-checkbox ng-model="newShedule.days[2]">Tuesday</ion-checkbox>
          <ion-checkbox ng-model="newShedule.days[3]">Wednesday</ion-checkbox>
          <ion-checkbox ng-model="newShedule.days[4]">Thursday</ion-checkbox>
          <ion-checkbox ng-model="newShedule.days[5]">Friday</ion-checkbox>
          <ion-checkbox ng-model="newShedule.days[6]">Saturday</ion-checkbox>

          <label class="item item-input">
            <span class="input-label"><strong>Reminder Time</strong></span>
            <input type="time"  ng-model="newShedule.time"></input>
          </label>
        </ul>
        <button class="button button-positive button-block button-big" ng-click = "save()">Save</button>
    </form>
  </ion-content>
</ion-view>
