<ion-view title="Update measurement schedule">
  <ion-content overflow-scroll="true" padding="false" class="has-header" >
    <form name = "newMeasurementForm" class="list">
        <ul>
          <label class="item item-input">
            <span class="input-label"><strong>Schedule Name</strong></span>
            <input class="input-label"  type="text" placeholder="E.g. My Daily Schedule" ng-model="schedule.name" ></input>
          </label>
          <!-- TODO: THIS NEEDS TO BE CLEANED UP -->
          <li class="item"><strong>Please select measurements</strong></li>

          <ion-checkbox ng-model="measurement_items[0]">Weight</ion-checkbox>
          <ion-checkbox ng-model="measurement_items[1]">Blood Pressure</ion-checkbox>
          <ion-checkbox ng-model="measurement_items[2]">Heart Rate</ion-checkbox>

          <li class="item"><strong>Please select days to be reminded</strong></li>
          <ion-checkbox ng-model="schedule.days[0]">Sunday</ion-checkbox>
          <ion-checkbox ng-model="schedule.days[1]">Monday</ion-checkbox>
          <ion-checkbox ng-model="schedule.days[2]">Tuesday</ion-checkbox>
          <ion-checkbox ng-model="schedule.days[3]">Wednesday</ion-checkbox>
          <ion-checkbox ng-model="schedule.days[4]">Thursday</ion-checkbox>
          <ion-checkbox ng-model="schedule.days[5]">Friday</ion-checkbox>
          <ion-checkbox ng-model="schedule.days[6]">Saturday</ion-checkbox>

          <label class="item item-input">
            <span class="input-label"><strong>Reminder Time</strong></span>
            <input type="time"  ng-model="time"></input>
          </label>
        </ul>
        <button class="button button-positive button-block button-big" ng-click = "updateSchedule(time)" ui-sref ="carePlan.measurementSchedules">Update</button>
    </form>
  </ion-content>
</ion-view>
