<ion-view title="view Medication">
  <ion-content>
    <div class="list">
      <label class="item item-input item-select">
        <span class="input-label">Medication Name</span>
          <input type="text" placeholder="metoprolol" ng-model="med.trade_name"></input>
      </label>

      <label class="item item-input">
         <span class="input-label">Dosage</span>
        <input type="number" min="0" placeholder="Dose (e.g. 25)" ng-model="med.dose" ></input>
        <span>mg</span>
      </label>

      <label class="item item-input">
        <span class="input-label">Instructions</span>
        <input type="text" placeholder="Instructions (e.g. orally)" ng-model="med.instructions"></input>
      </label>

      <label class="item item-input">
        <span class="input-label">Purpose{{med}}</span>
        <input type="text" placeholder="Purpose (e.g. used to treat heart failure)" ng-model="med.purpose"></input>
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Any other notes?" ng-model="med.notes"></input>
      </label>
      <div >
        <li class="item"><strong>Scheduled Dates</strong></li>
        <ion-checkbox ng-checked="true">Sunday</ion-checkbox>
        <ion-checkbox ng-checked="true">Monday</ion-checkbox>
        <ion-checkbox ng-checked="true">Tuesday</ion-checkbox>
        <ion-checkbox ng-checked="true">Wednesday</ion-checkbox>
        <ion-checkbox ng-checked="true">Thursday</ion-checkbox>
        <ion-checkbox ng-checked="true">Friday</ion-checkbox>
        <ion-checkbox ng-checked="true">Saturday</ion-checkbox>
      </div>
    </div>

    <div class="padding">
      <button class="button button-positive button-block" ng-click="med.$save()" ui-sref ="carePlan.medicationSchedules">Update</button>
    </div>
  </ion-content>
</ion-view>
