<ion-modal-view class="login-modal">
  <ion-header-bar class="bar bar-header bar-stable">
    <h1 class="title">Choose a color</h1>
    <button class="button button-clear button-positive" ng-click="closeModal()">Cancel</button>
  </ion-header-bar>
  <ion-content has-bouncing="false" class="login-view" scroll="true">
    <ion-list>
      <ion-item ng-repeat="color in colors" ng-click="chooseColor(color)" style="text-align:center;">
        <!-- {{color}} -->
        <button class="button button-dark" ng-style="{'background-color': color}"></button>
      </ion-item>

    </ion-list>
  </ion-content>

</ion-modal-view>
