<link type="text/css" rel="stylesheet" href="css/onboardingStyle.css"/>

<ion-view title="OnBoarding" class = "onboarding">
  <ion-header-bar class="bar bar-subheader">
    <h1 class="title">Step 5 of 5 Fill pillbox</h1>
  </ion-header-bar>
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <table class = "center">
      <thead>
          <tr>
            <th>Slots</th>
            <th>S</th>
            <th>M</th>
            <th>T</th>
            <th>W</th>
            <th>T</th>
            <th>F</th>
            <th>S</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="schedule in medicationSchedule">

            <td>{{schedule.slot}}</td>
            <td ng-repeat="count in getSlots(schedule, selectedMed) track by $index" >
              {{count}}
            </td>
          </tr>
      </tbody>
    </table>
    <h3 class = "title" style="text-align: center;">
      Select Medication to Begin:
    </h3>
    <div ng-repeat="med in medications" style="float:left">
        <button ng-class = "hasCompleted(med)? 'button button-calm' : 'button button-balanced' ", ng-click="displaySchedule(med)" >{{med.trade_name}}</button>
    </div>
    <button ui-sref="carePlan.measurementSchedules" class="button button-positive  button-block" >Done</button>
  </ion-content>
</ion-view>
