<link type="text/css" rel="stylesheet" href="css/setupStyle.css"/>

<ion-view title="Medication Setup">
  <ion-header-bar class="bar bar-subheader">
    <h1 class="title">Step 1 of 5 Input Meds <br> Enter Medication Info</h1>
  </ion-header-bar>

  <ion-content overflow-scroll="true" padding="false" class="has-header">
    <form name = "newMedicationForm" class="list">
        <ion-list style = "text-align:center">

          <label class="item item-input">
            <span class="input-label"><strong>Name</strong></span>
            <input class="input-label"  type="text" placeholder="med name" ng-model="newMedication.name" ></input>
          </label>

          <label class="item item-input">
            <span class="input-label"><strong>Dosage</strong></span>
            <input class="input-label" type="number" placeholder="25" ng-model="newMedication.dosage" ></input>
            <span>mg</span>
          </label>

          <label class="item item-input">
            <span class="input-label"><strong>Timing</strong></span>
            <input class="input-label"  type="text" placeholder="Twice a day, mroning and night" ng-model="newMedication.timing"></input>
          </label>

          <label class="item item-input">
            <span class="input-label"><strong>Instructions</strong></span>
            <input class="input-label"  type="text" placeholder="Orally" ng-model="newMedication.instructions"></input>
          </label>

          <label class="item item-input">
            <span class="input-label"><strong>Purpose</strong></span>
            <input class="input-label"  type="text" placeholder="Used to treat heart failure, and high blood pressure" ng-model="newMedication.purpose"></input>
          </label>

          <label class="item item-input">
            <span class="input-label"><strong>Extra Notes</strong></span>
            <input class="input-label"  type="text" placeholder="Used to treat heart failure, and high blood pressure" ng-model="newMedication.notes"></input>
          </label>
        </ion-list>
        <button class="button button-positive button-block button-big" ng-click = "save()">Save</button>
    </form>

  </ion-content>
</ion-view>
