<link type="text/css" rel="stylesheet" href="css/setupStyle.css"/>

<ion-view title="Medication Setup">
  <ion-content overflow-scroll="true" padding="false" class="has-header">
    <div >
       <h3 class = "subtitle">Step 1 of 5 Input Meds </h3>
    </div>
    <button class="button button-positive  button-block">Take Picture of Medication</button>
    <!-- <button class="button button-positive  button-block" ><a ui-sref="/tabs/timeline">Manually Input Medication</a></button> -->
    <a href="#/input_detail">
    	<button class="button button-positive  button-block" >Manually Input Medication</button>
    </a>
    <!-- <button class="button button-positive  button-block", ui-sref="medInputDetail">Manually Input Medication</button>   This ui-sref is not working....-->

  </ion-content>
</ion-view>
    
