<link type="text/css" rel="stylesheet" href="css/setupStyle.css"/>

<ion-view title="Medication Setup" id="page20">
    <ion-header-bar class="bar bar-subheader">
        <h1 class="title">Step 1 of 5 Input Meds <br> Enter Medication Info</h1>
    </ion-header-bar>
    <ion-content overflow-scroll="true" padding="true" class="has-header">

        <form class="list">
            <ion-item ng-repeat="med in Scheduledmedications">
              {{med.name}}
            </ion-item>
        </form>

        <button ui-sref="medInputMain" class="button button-positive  button-block" >Add another medication</button>

        <button class="button button-positive  button-block" >Generate Shedule</button>
    </ion-content>
</ion-view>
