<link type="text/css" rel="stylesheet" href="css/onboardingStyle.css"/>

<ion-view title="Medications">

  <div class="bar bar-subheader item-input-inset segmented-control" style="justify-content: center;">
    <div class="button-bar bar-light responsive-col">
      <a class="button button-small" ng-click="transitionToPageIndex(0)" ng-class="{'button-positive': medicationTab.pageIndex === 0}">Schedule</a>
      <a class="button button-small" ng-click="transitionToPageIndex(1)" ng-class="{'button-positive': medicationTab.pageIndex === 1}">Medications</a>
      <a class="button button-small" ng-click="transitionToPageIndex(2)" ng-class="{'button-positive': medicationTab.pageIndex === 2}">Fill Pillbox</a>
    </div>
  </div>

  <!-- Stuff after here will scroll -->
  <ion-content has-header="true" overflow-scroll="true" scroll="true" padding="true" class="has-header has-subheader">
    <ion-slide-box on-slide-changed="slideHasChanged($index)" does-continue="false" show-pager="false">
      <ion-slide>
          <div>
            <hr class="responsive-col"></hr>
            <h4 class="text-center">Schedule</h4>
          </div>
          <ion-list>
            <span ng-repeat = "dateSchedule in schedule">
              <a class="item item-divider item-icon-right" ui-sref="tabsController.medicationsSchedule({schedule_id: dateSchedule.$id})">
                {{dateSchedule.slot}}
                <i class="icon ion-ios-arrow-right"></i>
              </a>

              <ion-item ng-repeat="med in dateSchedule.medications",
              ui-sref="tabsController.medication({schedule_id: dateSchedule.$id, medication_name: med})"
              ng-hide="didTakeMed(med, dateSchedule)"
              ng-style="{'color': (didSkipMed(med, dateSchedule) ? 'grey' : 'black')}">
                {{med}}

              </ion-item>
            </span>
          </ion-list>

      </ion-slide>
      <ion-slide>
        <div>
          <hr class="responsive-col"></hr>
          <h4 class="text-center">Medications</h4>
        </div>

      </ion-slide>
      <ion-slide>
        <div>
          <hr class="responsive-col"></hr>
          <h4 class="text-center">Fill Pillbox</h4>
        </div>

        <!--COPY AND PASTED THIS FRMO fill_main.html -->
        <table class = "center">
          <thead>
              <tr>
                <th>Slots</th>
                <th>S</th>
                <th>M</th>
                <th>T</th>
                <th>W</th>
                <th>T</th>
                <th>F</th>
                <th>S</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="s in schedule">

                <td>{{s.slot}}</td>
                <td ng-repeat="count in getSlots(s, selectedMed) track by $index" >
                  {{count}}
                </td>
              </tr>
          </tbody>
        </table>
        <h3 class = "title" style="text-align: center;">
          Select Medication to Begin:
        </h3>
        <div ng-repeat="med in medications" style="float:left">
            <button ng-class = "hasCompleted(med)? 'button button-calm' : 'button button-balanced' ", ng-click="displaySchedule(med)" >{{med.trade_name}}</button>
        </div>
        <button ui-sref="tabsController.timeline" class="button button-positive  button-block" >Done</button>


      </ion-slide>
    </ion-slide-box>

  </ion-content>
  </ion-view>
