<ion-view title="New Cabinet Medication">
  <ion-content>
    <div class="list">

      <label class="item item-input">
        <span class="input-label">Medication Name</span>
        <input type="text" placeholder="Name (e.g. metoprolol)" ng-model="newMedication.trade_name"></input>
      </label>

      <label class="item item-input">
         <span class="input-label">Dose</span>
        <input type="number" min="0" placeholder="Dose (e.g. 25)" ng-model="newMedication.dose" ></input>
        <span>mg</span>
      </label>

      <label class="item item-input">
        <span class="input-label">Instructions</span>
        <input type="text" placeholder="Instructions (e.g. orally)" ng-model="newMedication.instructions"></input>
      </label>

      <label class="item item-input">
        <span class="input-label">Purpose</span>
        <input type="text" placeholder="Purpose (e.g. used to treat heart failure)" ng-model="newMedication.purpose"></input>
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Any other notes?" ng-model="newMedication.notes"></input>
      </label>
    </div>
    <div class="padding">
      <button class="button button-positive button-block" ng-click="saveMedication()">Save</button>
    </div>
  </ion-content>
</ion-view>
