<ion-view>
  <ion-content overflow-scroll="true">
    <div class="list card">
      <div class="item item-divider">
        Congratulations!
      </div>

      <div class="item item-text-wrap">
        This completes your onboarding. You can now use the timeline to receive
        notifications of upcoming medications, do symptoms questionnaires,
        add measurements, set appointments, and manage your care team.
      </div>

      <a class="item item-icon-right positive" ui-sref="tabsController.timeline">
        <i class="icon ion-ios-arrow-right"></i>
        Click to Finish
      </a>

    </div>
  </ion-content>
</ion-view>
