<ion-view title="Onboarding Completed">
  <ion-content overflow-scroll="true">
    <div class="list card">
      <div class="item item-text-wrap">
        This completes the onboarding. You can always come back to onboarding by
        using the sidebar menu. From here, you will be directed to the timeline where
        you will receive notifications about your medications and so on.
      </div>

      <a class="item item-icon-right positive" ui-sref="tabsController.timeline">
        <i class="icon ion-ios-arrow-right"></i>
        Finish
      </a>

    </div>
  </ion-content>
</ion-view>
