<ion-view title="OnPoint's Timeline">
  <ion-content overflow-scroll="true">
    <div class="list card">
      <div class="item item-text-wrap">
        This completes the onboarding. You can always come back to onboarding by
        using the sidebar menu. Right now, let's start by adding your medications.
      </div>

      <a class="item item-icon-right positive" ng-click="completeOnboarding()">
        <i class="icon ion-ios-arrow-right"></i>
        Start Medication Identification
      </a>

    </div>
  </ion-content>
</ion-view>
