<ion-view title="Identifying Medication">
  <ion-content overflow-scroll="true">
    <div class="list card">
      <div class="item item-text-wrap">
        The first step in the app will be to add medications. We offer multiple ways
        to identify your medication, including searching by name or searching by barcode.
      </div>

      <a class="item item-icon-right positive" ui-sref="onboarding.schedule_meds">
        <i class="icon ion-ios-arrow-right"></i>
        Proceed
      </a>

    </div>
  </ion-content>
</ion-view>
