<ion-view title="Scheduling Medication">
  <ion-content overflow-scroll="true">
    <div class="list card">
      <div class="item item-text-wrap">
        After you've identified all your medication, we will help you schedule the medications
        so that you will receive timely notifications.
      </div>

      <a class="item item-icon-right positive" ui-sref="onboarding.timeline">
        <i class="icon ion-ios-arrow-right"></i>
        Proceed
      </a>

    </div>
  </ion-content>
</ion-view>
