<ion-view title="OnPoint's Timeline">
  <ion-content overflow-scroll="true">
    <div class="list card">
      <div class="item item-text-wrap">
        Once you have a medication schedule setup, your main interaction with the app
        will be through the timeline. The timeline is a central place for you to view
        your medication schedule, be notified of what medications you have taken, and be
        aware of medication you have yet to take. The timeline keeps you on track, on point.
      </div>

      <a class="item item-icon-right positive" ui-sref="onboarding.finish">
        <i class="icon ion-ios-arrow-right"></i>
        Proceed
      </a>

    </div>
  </ion-content>
</ion-view>
