table {
    border-collapse: collapse;
    border: 1px solid black;
}
.center {
   margin: auto;
   width: 80%;  
   text-align: center;
   position: relative;
}
.absleft {
  position: absolute; 
  left: 0; 
  top: 0
}
.absright {
  position: absolute; 
  right: 0; 
  top: 0
}