<ion-view view-title="{{params.name}}">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>

    <ion-list>
      <ion-item ng-if="resources.length == 0" class="item-text-wrap">
        <p class="text-center">No resources found.</p>
      </ion-item>

      <ion-item class="item-icon-left item-icon-right item-text-wrap" ng-repeat="res in resources" ng-if="res['.tag'] == 'folder'" ui-sref="tabsController.resource({name: res.name, path: res.path_lower})">
        <i class="icon ion-ios-folder-outline"></i>
        <h2>{{res.name}}</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item-icon-left item-icon-right item-text-wrap" ng-repeat="res in resources" ng-if="res['.tag'] != 'folder'" ui-sref="tabsController.resource_download({name: res.name, path: res.path_lower})">
        <i class="icon ion-document"></i>
        <h2>{{res.name}}</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
