<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic-platform-web-client/dist/ionic.io.bundle.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <!-- Cordova is bootstrapped by ionic-platform-web-client, uncomment this if you remove ionic-platform-web-client... -->
    <script src="js/ng-cordova.min.js"></script>
    <!--  <script src="cordova.js"></script> -->

    <!-- your app's js -->
    <script src="js/app.js"></script>

  </head>
  <body ng-app="starter">

    

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Appointment</h1>
      </ion-header-bar>
      
      

<!--       <ion-content ng-controller="EventController">
        <button class="button" ng-click="createEvent()">Create Event</button>
      </ion-content> -->

    <ion-content>

    <div ng-controller="SetCalenderController">
      <p ng-bind="curDate | date:'MM/dd/yyyy' "></p>
      
      <table>
        <caption ng-bind="curMonth"></caption>
        <tr>
          <th>S</th>
          <th>M</th>   
          <th>T</th>
          <th>W</th>
          <th>T</th>   
          <th>F</th>
          <th>S</th>
        </tr>
       
        <tr>
          <td ng-bind="cell[1]" ng-click="onClickFunctions(cell[1])" />
          <td ng-bind="cell[2]" ng-click="onClickFunctions(cell[2])" />
          <td ng-bind="cell[3]" ng-click="onClickFunctions(cell[3])" />
          <td ng-bind="cell[4]" ng-click="onClickFunctions(cell[4])" />
          <td ng-bind="cell[5]" ng-click="onClickFunctions(cell[5])" />
          <td ng-bind="cell[6]" ng-click="onClickFunctions(cell[6])" />
          <td ng-bind="cell[7]" ng-click="onClickFunctions(cell[7])" />
        </tr>

        <tr>
          <td ng-bind="cell[8]" ng-click="onClickFunctions(cell[8])"/>
          <td ng-bind="cell[9]" ng-click="onClickFunctions(cell[9])"/>
          <td ng-bind="cell[10]" ng-click="onClickFunctions(cell[10])"/>
          <td ng-bind="cell[11]" ng-click="onClickFunctions(cell[11])"/>
          <td ng-bind="cell[12]" ng-click="onClickFunctions(cell[12])"/>
          <td ng-bind="cell[13]" ng-click="onClickFunctions(cell[13])"/>
          <td ng-bind="cell[14]" ng-click="onClickFunctions(cell[14])" />
        </tr>
       
        <tr>
          <td ng-bind="cell[15]" ng-click="onClickFunctions(cell[15])"/>
          <td ng-bind="cell[16]" ng-click="onClickFunctions(cell[16])" class = "hasEvent"/>
          <td ng-bind="cell[17]" ng-click="onClickFunctions(cell[17])"/>
          <td ng-bind="cell[18]" ng-click="onClickFunctions(cell[18])"/>
          <td ng-bind="cell[19]" ng-click="onClickFunctions(cell[19])"/>
          <td ng-bind="cell[20]" ng-click="onClickFunctions(cell[20])"/>
          <td ng-bind="cell[21]" ng-click="onClickFunctions(cell[21])"/>
        </tr>
        
        <tr>
          <td ng-bind="cell[22]" ng-click="onClickFunctions(cell[22])" />
          <td ng-bind="cell[23]" ng-click="onClickFunctions(cell[23])"/>
          <td ng-bind="cell[24]" ng-click="onClickFunctions(cell[24])" class = "hasEvent"/>
          <td ng-bind="cell[25]" ng-click="onClickFunctions(cell[25])"/>
          <td ng-bind="cell[26]" ng-click="onClickFunctions(cell[26])"/>
          <td ng-bind="cell[27]" ng-click="onClickFunctions(cell[27])"/>
          <td ng-bind="cell[28]" ng-click="onClickFunctions(cell[28])"/>
        </tr>

        <tr>
          <td ng-bind="cell[29]" ng-click="onClickFunctions(cell[29])"/>
          <td ng-bind="cell[30]" ng-click="onClickFunctions(cell[30])"/>
          <td ng-bind="cell[31]" ng-click="onClickFunctions(cell[31])"/>
          <td ng-bind="cell[32]" ng-click="onClickFunctions(cell[32])"/>
          <td ng-bind="cell[33]" ng-click="onClickFunctions(cell[33])" class = "hasEvent"/>
          <td ng-bind="cell[34]" ng-click="onClickFunctions(cell[34])"/>
          <td ng-bind="cell[35]" ng-click="onClickFunctions(cell[35])"/>
        </tr>

         <tr>
          <td ng-bind="cell[36]" />
          <td ng-bind="cell[37]" />
        </tr>

      </table>

      <p>{{eventTitle}}</p> 
      <p>{{eventTime}}</p> 
      <p>{{eventLocation}}</p> 
      <p>{{eventNote}}</p> 
    </div>

    </ion-content>

    </ion-pane>


  </body>
</html>
