  <!-- Measurements CSS File-->
  <link type="text/css" rel="stylesheet" href="css/measurementStyle.css"/>

  <ion-view title="Add Measurements"> <!-- header title -->
    <ion-nav-buttons side="right">
       <button class="button button-clear button-positive" ng-click="addMeasurement()" ng-disabled="disableDone()">Done</button>
    </ion-nav-buttons>

    <ion-content has-header="true" overflow-scroll="true" padding="true" class="has-header">
      <form name = "newMeasurementsForm" class="list">
        <ion-list class>
          <ion-item ng-repeat="measurement in schedule.measurements">
              <span class="input-label"><strong>{{measurement.name}}</strong></span>
              <input type="number" placeholder="{{measurement.unit}}" ng-style="{'color': setColor(measurement.name)}" ng-model="newMeasurement[measurement.name]" ng-blur="check(measurement.name)"></input>
          </ion-item>
        </ion-list class>

      </form>
    </ion-content>
  </ion-view>
