  <!-- Measurements CSS File-->
  <link type="text/css" rel="stylesheet" href="css/measurementStyle.css"/>
  <ion-view title="Measurements"> <!-- header title -->
    <!-- <ion-nav-buttons side="right">
        <button class="button icon-right ion-ios-plus-empty button-clear button-positive" ui-sref="tabsController.measurementAdd({schedule_id: schedule[0].$id})"></button>
    </ion-nav-buttons> -->

    <div class="bar bar-subheader item-input-inset segmented-control" style="justify-content: center;">
      <div class="button-bar bar-light responsive-col">
        <a class="button button-small" ng-click="transitionToPageIndex(0)" ng-class="{'button-positive': measurementTab.pageIndex === 0}">Schedule</a>
        <a class="button button-small" ng-click="transitionToPageIndex(1)" ng-class="{'button-positive': measurementTab.pageIndex === 1}">History</a>
        <a class="button button-small" ng-click="transitionToPageIndex(2)" ng-class="{'button-positive': measurementTab.pageIndex === 2}">Add</a>
      </div>
    </div>


    <!-- Stuff after here will scroll -->

    <ion-content has-header="true" overflow-scroll="true" scroll="true" padding="true" class="has-header has-subheader">
      <ion-slide-box on-slide-changed="slideHasChanged($index)" does-continue="false" show-pager="false">
        <ion-slide ng-controller="enterMeasurementsCtrl">
            <div>
              <h4 class="text-center">Schedule</h4>
            </div>
            <hr class="responsive-col"></hr>
            <ion-list>
              <span ng-repeat = "s in schedule">

                <ion-list class>
                  <h4 class="text-center">{{s.name}}</h4>
                  <div style="position: absolute; left: 0; top: 0; text-align: left">
                      <button style="font-size: 18px" class="button button-clear button-positive">Edit</b>
                  </div>
                  <div style="position: absolute; right: 0; top: 0; text-align: right">
                      <button style="font-size: 18px" class="button button-clear button-positive" ng-click="saveMeasurement(s)" ng-disabled="disableSave(s.$id)">Save</b>
                  </div>
                  <div class="item item-divider">Measurements To Take</div>
                  <ion-item ng-repeat="measurement in s.measurements" ng-hide="didTakeMeasurement(measurement.name)">
                      <span class="input-label"><strong>{{measurement.name}}</strong></span>
                      <input type="number" placeholder="{{measurement.unit}}" ng-style="{'color': setColor(measurement.name)}" ng-model="newMeasurement[s.$id][measurement.name]" ng-blur="check(measurement.name, s.$id)"></input>
                  </ion-item>
                  <div class="item item-divider">Completed Measurements</div>
                  <ion-item ng-repeat="measurement in s.measurements" ng-show="didTakeMeasurement(measurement.name)">
                      <span class ="input-label"> <strong>{{measurement.name}}</strong> </span> {{getMeasurementValue(measurement.name)}} {{measurement.unit}}
                  </ion-item>
                </ion-list class>
                <!-- <a class="item item-divider item-icon-right" >
                  {{s.name}}
                </a>
                <ion-item ng-repeat="m in s.measurements">
                  {{m}}
                </ion-item> -->
            </span>
        </ion-slide>
        <ion-slide>
          <div>
            <hr class="responsive-col"></hr>
            <h4 class="text-center">History</h4>
          </div>
            <ion-list>
              <span ng-repeat = "date in measurements">
                  <ion-item ng-repeat = "m in date">
                    <p> {{m.taken_at}}</p>
                    <p> {{m.measurements}}</p>
                  </ion-item>
            </span>
          </ion-list>
        </ion-slide>
        <ion-slide>
          <div>
            <h4 class="text-center">Add Measurement</h4>
            <div style="position: absolute; right: 0; top: 0; text-align: right">
                <button style="font-size: 18px" class="button button-clear button-positive" ng-click="saveMeasurement('custom')" ng-disabled="disableSave('custom')">Save</b>
            </div>
            <div class="list">
              <label class="item item-input">
                <span class="input-label"> <strong>Measurement Name</strong></span>
                <input type="text" placeholder="height" ng-model="newMeasurement['custom'].name"></input>
              </label>

              <label class="item item-input">
                <span class="input-label"><strong>Value</strong></span>
                <input type="text" ng-model="newMeasurement['custom'].value"></input>
              </label>

              <label class="item item-input">
                 <span class="input-label"><strong>Unit</strong></span>
                <input type="text" placeholder="optional" ng-model="newMeasurement['custom'].unit" ></input>
              </label>

            </div>
          </div>
        </ion-slide>
      </ion-slide-box>
    </ion-content>
  </ion-view>

  <!--- SHOULD WE DELETE A MEASUREMENT?
  <ion-option-button class="button-assertive" ng-click="remove(chat)">
    Delete
  </ion-option-button>
  -->
