<!-- Measurements CSS File-->
<link type="text/css" rel="stylesheet" href="css/measurementStyle.css"/>

<ion-view title="Measurement Tips">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
         <!-- Cards for each measurement type  -->
        <div class="card" ng-repeat="mType in measurementsTips">
            <div class="item item-divider"> {{mType.measurement}} Tips</div>
            <ion-list>
            	<ion-item class="item item-text-wrap" ng-repeat="tip in mType.tips">
            	<p>{{tip}}</p>
            </ion-list>
        </div
    </ion-content>
</ion-view>