<ion-view title="Measurements Schedule">
  <ion-nav-buttons side="right">
    <button class="button button-clear button-icon ion-ios-plus-empty" ng-click="showModal()"></button>
  </ion-nav-buttons>

  <ion-content class="has-footer">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>
    <li class="item text-center item-text-wrap" ng-show="reminders.length == 0">
      No measurement reminders found
    </li>

    <ion-list>
      <ion-item ng-repeat="r in reminders | orderBy:r.time" ng-click="showModal(r)">
        <h3 style="font-weight: bold; font-size: 16px;">{{r.time | formatTime}} ({{r.days | formatDaySchedule}})</h3>
        <p>
          Reminder to track
          <span ng-if="r.blood_pressure">blood pressure,</span>
          <span ng-if="r.weight">weight,</span>
          <span ng-if="r.heart_rate">heart rate,</span>
          <span ng-if="r.glucose">glucose.</span>


        </p>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
