<ion-view title="Edit Measurements Schedule">
  <ion-nav-buttons side="right">
     <button class="button button-clear button-positive" ng-click="addMeasurement()" ng-disabled="disableDone()">Save</button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="true" padding="false" class="has-header">
    <form name = "newMeasurementForm" class="list">
        <ul>
          <h4 class="text-center">{{schedule.name}} </h4>
          <!-- TODO: THIS NEEDS TO BE CLEANED UP -->
          <li class="item"><strong>Please select measurements</strong></li>
          <ion-checkbox ng-checked="hasMeasurement('weight')">Weight</ion-checkbox>
          <ion-checkbox ng-checked="hasMeasurement('blood pressure')">Blood Pressure</ion-checkbox>
          <ion-checkbox ng-checked="hasMeasurement('heart rate')">Heart Rate</ion-checkbox>

          <li class="item"><strong>Please select days to be reminded</strong></li>
          <ion-checkbox ng-checked="schedule.days.indexOf(0) !== -1">Sunday</ion-checkbox>
          <ion-checkbox ng-checked="schedule.days.indexOf(1) !== -1">Monday</ion-checkbox>
          <ion-checkbox ng-checked="schedule.days.indexOf(2) !== -1">Tuesday</ion-checkbox>
          <ion-checkbox ng-checked="schedule.days.indexOf(3) !== -1">Wednesday</ion-checkbox>
          <ion-checkbox ng-checked="schedule.days.indexOf(4) !== -1">Thursday</ion-checkbox>
          <ion-checkbox ng-checked="schedule.days.indexOf(5) !== -1">Friday</ion-checkbox>
          <ion-checkbox ng-checked="schedule.days.indexOf(6) !== -1">Saturday</ion-checkbox>

          <label class="item item-input">
            <span class="input-label"><strong>Reminder Time</strong></span>
            <input type="time"  ng-model="schedule.time"></input>
          </label>
        </ul>
    </form>
  </ion-content>
</ion-view>
