<ion-view>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-ios-compose-outline" ng-click="showNoteModal()"></button>
  </ion-nav-buttons>

  <ion-content padding="false">
    <div class="list">
      <ion-item class="item-icon-right" ng-repeat="med in schedule.medications" ng-class="{'skipped-med': didSkipMed(med), 'taken-med': didTakeMed(med)}">
        <span style="font-weight: bold; font-size: 22px;">{{med.nickname || med.name}}</span>
        <i class="icon ion-ios-arrow-right" ng-show="!history[med.id].taken_at && !history[med.id].skipped_at"></i>
        <i class="icon ion-ios-checkmark-outline" ng-show="history[med.id].taken_at"></i>
        <i class="icon ion-ios-close-outline" ng-show="history[med.id].skipped_at"></i>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
