<ion-view>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-ios-compose-outline" ng-click="showNoteModal()"></button>
  </ion-nav-buttons>

  <ion-content padding="false">
    <div class="list">
      <ion-item  ng-click="medModal(med)" class="item-icon-right" ng-repeat="med in schedule.medications" ng-class="{'skipped-med': didSkipMed(med), 'taken-med': didTakeMed(med)}">
        <span style="font-weight: bold; font-size: 22px;">{{med.nickname || med.name}}</span>

        <i class="icon ion-ios-arrow-right" ng-show="noDecisionOnMedication(med)"></i>
        <i class="icon ion-ios-checkmark-outline" ng-show="didTakeMed(med)"></i>
        <i class="icon ion-ios-close-outline" ng-show="didSkipMed(med)"></i>
      </ion-item>
    </div>
  </ion-content>

  <ion-footer-bar keyboard-attach class="bar bar-footer bar-clear">
    <div ng-click="skipAllMedication()" class="buttons button-energized text-center" style="width:50%; margin-bottom: -5px; margin-top: -5px; background-color: #ef473a;">
      <button class="button button-clear" style="width: auto; margin: auto;">Skip all</button>
    </div>
    <div ng-click="takeAllMedication()" class="buttons text-center" style="width:50%; margin-bottom: -5px; margin-top: -5px; background-color: #33cd5f;">
      <button class="button button-clear" style="width: auto; margin: auto;">Take all</button>
    </div>
  </ion-footer-bar>
</ion-view>
