<ion-modal-view class="irk-modal">
  <irk-ordered-tasks>
    <!-- <irk-task>
      <irk-instruction-step id="s1" title="Anxiety" text="In terms of anxiety, select the number that best describes how you feel now (anxiety=feeling nervous)." />
    </irk-task> -->

    <irk-task>
      <irk-scale-question-step id="q1" title="In terms of anxiety, select the number that best describes how you feel now" min="0" max="10" step="1" value="5" min-text="Not anxious" max-text="Worst possible anxiety" />
    </irk-task>

    <irk-task>
      <irk-scale-question-step id="q2" title="In terms of pain, select the number that best describes how you feel now" min="0" max="10" step="1" value="5" min-text="No pain" max-text="Worst possible pain" />
    </irk-task>

    <irk-task>
      <irk-scale-question-step id="q3" title="In terms of tiredness, select the number that best describes how you feel now" text="Tiredness is lack of energy" min="0" max="10" step="1" value="5" min-text="Not tired" max-text="Worst possible tiredness" />
    </irk-task>

    <irk-task>
      <irk-scale-question-step id="q4" title="In terms of nausea, select the number that best describes how you feel now" min="0" max="10" step="1" value="5" min-text="No nausea" max-text="Worst possible nausea" />
    </irk-task>

    <irk-task>
      <irk-scale-question-step id="q5" title="In terms of appetite, select the number that best describes how you feel now" min="0" max="10" step="1" value="5" min-text="Best appetite" max-text="Worst possible lack of appetite" />
    </irk-task>

    <irk-task>
      <irk-scale-question-step id="q6" title="In terms of shortness of breath, select the number that best describes how you feel now" min="0" max="10" step="1" value="5" min-text="No shortness of breath" max-text="Worst possible shortness of breath" />
    </irk-task>

    <irk-task>
      <irk-scale-question-step id="q7" title="In terms of depression, select the number that best describes how you feel now"
        min="0" max="10" step="1" value="5" min-text="Not depressed" max-text="Worst possible depression" />
    </irk-task>

    <irk-task>
      <irk-scale-question-step id="q8" title="In terms of constipation, select the number that best describes how you feel now"
        min="0" max="10" step="1" value="5" min-text="No constipation" max-text="Worst possible constipation" />
    </irk-task>


    <irk-task>
      <irk-value-picker-question-step id="q9" title="In terms of diarrhea, select the number that best describes how you feel now"
        min="0" max="10" step="1" value="5" min-text="No diarrhea" max-text="Worst possible diarrhea" />
    </irk-task>

    <irk-task>
      <irk-boolean-question-step id="q10" title="In terms of mouth sores, select the number that best describes how you feel now"
        min="0" max="10" step="1" value="5" min-text="No mouth sores" max-text="Worst possible mouth sores" />
    </irk-task>

    <irk-task>
      <irk-boolean-question-step id="q11" title="In terms of vomiting, select the number that best describes how you feel now"
        min="0" max="10" step="1" value="5" min-text="No vomiting" max-text="Worst possible vomiting" />
    </irk-task>

    <irk-task>
      <irk-boolean-question-step id="q12" title="In terms of neuropathy, numbness, or tingling, select the number that best describes how you feel now"
        min="0" max="10" step="1" value="5" min-text="No neuropathy/tingling/numbness" max-text="Worst possible neuropath/tingling/numbness" />
    </irk-task>
    
  <irk-task>
      <irk-boolean-question-step id="q13" title="In the last two weeks, have you had any bruising or bleeding?"
        true-text="Yes" false-text="No" />
    </irk-task>
    
    <irk-task>
      <irk-boolean-question-step id="q14" title="In the last two weeks, have you had any changes in your skin?"
        true-text="Yes" false-text="No" />
    </irk-task>

    <irk-task>
      <irk-boolean-question-step id="q15" title="Do you have problems with your sleep 3 or more nights a week?"
        true-text="Yes" false-text="No" />
    </irk-task>
    
    <irk-task>
      <irk-boolean-question-step id="q16" title="Do you have a fever?"
        true-text="Yes" false-text="No" />
    </irk-task>

    <irk-task>
      <irk-instruction-step id="s2" title="You're done!" text="Click done to finish and save the survey." button-text="Done" />
    </irk-task>

    <!-- <irk-task>
      <irk-text-question-step id="q3" title="Your question here." text="Additional text can go here." />
    </irk-task>

    <irk-task>
      <irk-text-question-step id="q4" title="Your question here." text="Additional text can go here." multiple-lines="false" />
    </irk-task> -->

    <!-- <irk-task>
      <irk-text-choice-question-step id="q5" title="Your question here." text="Additional text can go here." style="single">
        <irk-text-choice text="Choice 1" value="1"></irk-text-choice>
        <irk-text-choice text="Choice 2" value="2"></irk-text-choice>
        <irk-text-choice text="Choice 3" value="3" detail-text="Additional text can go here."></irk-text-choice>
      </irk-text-choice-question-step>
    </irk-task> -->

    <!-- <irk-task>
      <irk-text-choice-question-step id="q5" title="Your question here." text="Additional text can go here." style="multiple">
        <irk-text-choice text="Choice 1" value="1"></irk-text-choice>
        <irk-text-choice text="Choice 2" value="2"></irk-text-choice>
        <irk-text-choice text="Choice 3" value="3" detail-text="Additional text can go here."></irk-text-choice>
      </irk-text-choice-question-step>
    </irk-task> -->

    <!-- <irk-task>
      <irk-numeric-question-step id="q6" title="Your question here." text="Additional text can go here." unit="Your unit." />
    </irk-task>

    <irk-task>
      <irk-date-question-step id="q7" title="Your question here." text="Additional text can go here." />
    </irk-task>

    <irk-task>
      <irk-time-question-step id="q8" title="Your question here." text="Additional text can go here." />
    </irk-task>

    <irk-task>
      <irk-value-picker-question-step id="q9" title="Your question here." text="Additional text can go here." >
        <irk-picker-choice text="Choice 1" value="1"></irk-picker-choice>
        <irk-picker-choice text="Choice 2" value="2"></irk-picker-choice>
        <irk-picker-choice text="Choice 3" value="3"></irk-picker-choice>
      </irk-value-picker-question-step>
    </irk-task>

    <irk-task>
      <irk-image-choice-question-step id="q10" title="Your question here." text="Additional text can go here." >
        <irk-image-choice text="Choice 1" value="1" normal-state-image="ion-sad-outline" selected-state-image="ion-sad"></irk-image-choice>
        <irk-image-choice text="Choice 2" value="2" normal-state-image="ion-happy-outline" selected-state-image="ion-happy"></irk-image-choice>
      </irk-image-choice-question-step>
    </irk-task>

    <irk-task>
      <irk-form-step id="q11" title="Your question here." text="Additional text can go here." >
        <irk-form-item title="Your section title."></irk-form-item>
        <irk-form-item type="text" id="firstName" text="First Name" placeholder="John"></irk-form-item>
        <irk-form-item type="text" id="lastName" text="Last Name" placeholder="Suhr"></irk-form-item>
        <irk-form-item title="Your section title."></irk-form-item>
        <irk-form-item type="email" id="email" text="Email" placeholder="john@suhr.com"></irk-form-item>
        <irk-form-item type="tel" id="phone" text="Phone" placeholder="555-555-5555"></irk-form-item>
      </irk-form-step>
    </irk-task> -->
  </irk-ordered-tasks>

</ion-modal-view>
