<ion-modal-view class="irk-modal">
  <irk-ordered-tasks>
    <!-- <irk-task>
      <irk-instruction-step id="q0" title="Welcome" text="Welcome. Answering these 9 questions will help your care team better understand your depression. Are you ready to begin?" />
    </irk-task> -->

    <irk-task>
      <irk-scale-question-step id="q1" title="What number best describes how depressed you are feeling?" min="0" max="10" step="1" value="5" min-text="Not depressed" max-text="Worst possible depression" />
    </irk-task>

    <irk-task>
      <irk-value-picker-question-step id="q2" title="Do you have any concerns that are making you feel more depressed (life events, new information about cancer/treatment, financial problems)?"
        true-text="Yes" false-text="No" />
    </irk-task>

     <irk-task>
       <irk-value-picker-question-step id="q3" title="Have you felt depressed or had a loss of pleasure for 2 weeks or longer?">
         <irk-picker-choice text="No" value="1"></irk-picker-choice>
         <irk-picker-choice text="Yes, off and on" value="2"></irk-picker-choice>
         <irk-picker-choice text="Yes, continous" value="3"></irk-picker-choice>
       </irk-value-picker-question-step>
    </irk-task>

     <irk-task>
       <irk-value-picker-question-step id="q4" title="Have you experienced any of the following for 2 weeks or longer: feeling worthless, sleeping too little or too much, feeling guilty, weight gain or weight loss, unable to think or concentrate?">
         <irk-picker-choice text="No" value="1"></irk-picker-choice>
         <irk-picker-choice text="Yes, some" value="2"></irk-picker-choice>
         <irk-picker-choice text="Yes, several" value="3"></irk-picker-choice>
       </irk-value-picker-question-step>
    </irk-task>

   <irk-task>
       <irk-value-picker-question-step id="q5" title="Does feeling depressed interfere with your daily activities at home and/or work?">
         <irk-picker-choice text="No" value="1"></irk-picker-choice>
         <irk-picker-choice text="Yes, some" value="2"></irk-picker-choice>
         <irk-picker-choice text="Yes, significantly" value="3"></irk-picker-choice>
       </irk-value-picker-question-step>
    </irk-task>

     <irk-task>
       <irk-value-picker-question-step id="q6" title="Have you felt tired or fatigued?">
         <irk-picker-choice text="No" value="1"></irk-picker-choice>
         <irk-picker-choice text="Yes, moderate" value="2"></irk-picker-choice>
         <irk-picker-choice text="Yes, often" value="3"></irk-picker-choice>
       </irk-value-picker-question-step>
    </irk-task>

        <irk-task>
       <irk-value-picker-question-step id="q7" title="Have you felt agitated (which may include twitching or pacing) or slowing down of your thoughts?">
         <irk-picker-choice text="No" value="1"></irk-picker-choice>
         <irk-picker-choice text="Yes, some" value="2"></irk-picker-choice>
         <irk-picker-choice text="Yes, often" value="3"></irk-picker-choice>
       </irk-value-picker-question-step>
    </irk-task>

         <irk-task>
       <irk-value-picker-question-step id="q8" title="Do any of the following apply to you: age 30 or younger, female, bothersome symptoms, lack of social support, history of depression, financial problems, withdrawal from alcohol, substance abuse, living alone, dependent children, recurrent or advanced disease, recently completed treatment?">
         <irk-picker-choice text="No" value="1"></irk-picker-choice>
         <irk-picker-choice text="Yes, some" value="2"></irk-picker-choice>
         <irk-picker-choice text="Yes, several" value="3"></irk-picker-choice>
       </irk-value-picker-question-step>
    </irk-task>

    <irk-task>
      <irk-value-picker-question-step id="q9" title="Have you had recurring thoughts of dying, trying to kill yourself, or harming others?"
        true-text="Yes" false-text="No" />
    </irk-task>



    <!-- <irk-task>
      <irk-instruction-step id="s2" button-text="Done" title="Thank you for your responses. Your care coordinator will be contacting you shortly. In the meantime, please explore the depression resources in the educational library">
    </irk-task> -->
  </irk-ordered-tasks>

</ion-modal-view>
