<ion-modal-view class="irk-modal">
  <irk-ordered-tasks>
    <!-- <irk-task>
      <irk-instruction-step id="q0" title="Welcome" text="Welcome. Answering these 12 questions will help your care team better understand your diarrhea. Are you ready to begin?" />
    </irk-task> -->

    <irk-task>
      <irk-scale-question-step id="q1" title="Which number best describes your diarrhea?" min="0" max="10" step="1" value="5" min-text="No diarrhea" max-text="Worst possible diarrhea" />
    </irk-task>

    <irk-task>
      <irk-scale-question-step id="q2" title="How worried are you about your diarrhea?" min="0" max="10" step="1" value="5" min-text="Not worried" max-text="Extremely worried" />
    </irk-task>

    <irk-task>
    <irk-boolean-question-step id="q3" title="Have you been tested for c-difficile?" true-text="Yes" false-text="No" />
    </irk-task>

    <irk-task>
      <irk-text-choice-question-step id="q4" title="Think about your normal bowel pattern. How many extra bowel movements are you having per day (including at night), above what is normal for you?">
        <irk-text-choice text="4 or fewer extra bowel movements" value="1"></irk-text-choice>
        <irk-text-choice text="Between 4 and 6 extra bowel movements" value="2"></irk-text-choice>
        <irk-text-choice text="7 or more extra bowel movements" value="3"></irk-text-choice>
      </irk-text-choice-question-step>
    </irk-task>

    <irk-task>
      <irk-boolean-question-step id="q5" title="Do you have blood in your stools?" true-text="Yes" false-text="No" />
    </irk-task>

    <irk-task>
      <irk-text-choice-question-step id="q6" title="If you have an ostomy, how much extra output are you having, above what is normal for you?">
        <irk-text-choice text="Not applicable" value="1"></irk-text-choice>
        <irk-text-choice text="Mild increase" value="2"></irk-text-choice>
        <irk-text-choice text="Moderate increase" value="3"></irk-text-choice>
        <irk-text-choice text="Severe increase" value="4"></irk-text-choice>
      </irk-text-choice-question-step>
    </irk-task>

    <irk-task>
      <irk-boolean-question-step id="q7" title="Do you have a fever above 100.4 degrees Fahrenheit (38 degrees Celsius)?" true-text="Yes, with diarrhea" false-text="No" />
    </irk-task>

    <irk-task>
      <irk-text-choice-question-step id="q8" title="Do you have pain in your abdomen or rectum with or without cramping or bloating?">
        <irk-text-choice text="No" value="1"></irk-text-choice>
        <irk-text-choice text="Yes, some" value="2"></irk-text-choice>
        <irk-text-choice text="Yes, often" value="3"></irk-text-choice>
      </irk-text-choice-question-step>
    </irk-task>

    <irk-task>
      <irk-text-choice-question-step id="q9" title="Are you feeling dehydrated, which can include feeling dizzy, a dry mouth, increased thirst, fainting, rapid heart rate, or decreased amount of urine?">
        <irk-text-choice text="No" value="1"></irk-text-choice>
        <irk-text-choice text="Yes, some" value="2"></irk-text-choice>
        <irk-text-choice text="Yes, significantly" value="3"></irk-text-choice>
      </irk-text-choice-question-step>
    </irk-task>

    <irk-task>
      <irk-boolean-question-step id="q10" title="Have you been able to drink fluids?" true-text="Yes" false-text="No" />
    </irk-task>

    <irk-task>
      <irk-text-choice-question-step id="q11" title="Does your diarrhea interfere with your daily activities at home and/or work?">
        <irk-text-choice text="No" value="1"></irk-text-choice>
        <irk-text-choice text="Yes, some" value="2"></irk-text-choice>
        <irk-text-choice text="Yes, significantly" value="3"></irk-text-choice>
      </irk-text-choice-question-step>
    </irk-task>

    <irk-task>
      <irk-boolean-question-step id="q12" title="Are you taking any medicines that increase the risk of diarrhea, such as oral sennosides (Senokot) or Docusate sodium (Colace)?" true-text="Yes" false-text="No" />
    </irk-task>


    <!-- <irk-task>
      <irk-instruction-step id="s2" title="Thank you for your responses. Your care coordinator will be contacting you shortly. In the meantime, please explore the diarrhea resources in the educational library" />
    </irk-task> -->
  </irk-ordered-tasks>
</ion-modal-view>
