<ion-modal-view class="irk-modal">
  <irk-ordered-tasks>
    <irk-task>
      <irk-instruction-step id="q0" title="Welcome" text="Welcome. Answering these 9 questions will help your care team better understand your sleep problem. Are you ready to begin?" />
    </irk-task>


    <irk-task>
      <irk-scale-question-step id="q1" title="Select the number that best describes how much your sleep problem affects your daytime activities at home and work." min="0" max="10" step="1" value="5" min-text="No problems" max-text="Worst possible problems with daytime activities" />
    </irk-task>  
    
    <irk-task>
      <irk-scale-question-step id="q2" title="How worried are you about your nausea/vomiting?" min="0" max="10" step="1" value="5" min-text="Not worried" max-text="Extremely worried" />
    </irk-task>

     <irk-task>
       <irk-value-picker-question-step id="q3" title="Do you have difficulty falling asleep?">
         <irk-picker-choice text="Less than three nights per week" value="1"></irk-picker-choice>
         <irk-picker-choice text="3 or more nights per week" value="2"></irk-picker-choiceH>
         <irk-picker-choice text="It takes me longer than 30 minutes each night to fall asleep" value="3"></irk-picker-choice>
       </irk-value-picker-question-step>
    </irk-task>

     <irk-task>
       <irk-value-picker-question-step id="q4" title="Do you have difficulty staying asleep?">
         <irk-picker-choice text="Less than three nights per week" value="1"></irk-picker-choice>
         <irk-picker-choice text="3 or more nights per week" value="2"></irk-picker-choiceH>
         <irk-picker-choice text="I have trouble staying asleep for longer than 30 minutes" value="3"></irk-picker-choice>
       </irk-value-picker-question-step>
    </irk-task>

     <irk-task>
       <irk-value-picker-question-step id="q5" title="Do you have trouble with waking up too early?">
         <irk-picker-choice text="Less than three nights per week" value="1"></irk-picker-choice>
         <irk-picker-choice text="3 or more nights per week" value="2"></irk-picker-choice>
       </irk-value-picker-question-step>
    </irk-task>
    
         <irk-task>
       <irk-value-picker-question-step id="q4=6" title="How long have these sleep problems been present?">
         <irk-picker-choice text="Less than 1 month" value="1"></irk-picker-choice>
         <irk-picker-choice text="More than one month" value="2"></irk-picker-choice>
       </irk-value-picker-question-step>
    </irk-task>

    <irk-task>
      <irk-value-picker-question-step id="q7" title="Did the onset of the sleep problem occur with another issue?">
        true-text="Yes" false-text="No" />
    </irk-task>

    <irk-task>
      <irk-value-picker-question-step id="q8" title="Are you taking any medicines that affect sleep, like opiates, steroids, sedatives, or others?">
        true-text="Yes" false-text="No" />
    </irk-task>

    <irk-task>
      <irk-value-picker-question-step id="q9" title="Do you have other sleep disorders, such as loud snoring, choking/gasping, sleep apnea, restless movement, or restless legs?">
        true-text="Yes" false-text="No" />
    </irk-task>


    <irk-task>
      <irk-instruction-step id="s2" title="Thank you for your responses. Your care coordinator will be contacting you shortly. In the meantime, please explore the sleep resources in the educational library">
    </irk-task>
  </irk-ordered-tasks>

</ion-modal-view>
