<ion-modal-view class="irk-modal">
  <irk-ordered-tasks >
    <irk-task>
      <irk-scale-question-step id="Anxiety" title="In terms of anxiety, select the number that best describes how you feel now" min="0" max="10" step="1" value="5" min-text="Not anxious" max-text="Worst possible anxiety" />
    </irk-task>

    <irk-task>
      <irk-scale-question-step id="Pain" title="In terms of pain, select the number that best describes how you feel now" min="0" max="10" step="1" value="5" min-text="No pain" max-text="Worst possible pain" />
    </irk-task>

    <irk-task>
      <irk-scale-question-step id="Fatigue" title="In terms of tiredness, select the number that best describes how you feel now" text="Tiredness is lack of energy" min="0" max="10" step="1" value="5" min-text="Not tired" max-text="Worst possible tiredness" />
    </irk-task>

    <irk-task>
      <irk-scale-question-step id="Nausea" title="In terms of nausea, select the number that best describes how you feel now" min="0" max="10" step="1" value="5" min-text="No nausea" max-text="Worst possible nausea" />
    </irk-task>

    <irk-task>
      <irk-scale-question-step id="Appetite" title="In terms of appetite, select the number that best describes how you feel now" min="0" max="10" step="1" value="5" min-text="Best appetite" max-text="Worst possible lack of appetite" />
    </irk-task>

    <irk-task>
      <irk-scale-question-step id="Breath" title="In terms of shortness of breath, select the number that best describes how you feel now" min="0" max="10" step="1" value="5" min-text="No shortness of breath" max-text="Worst possible shortness of breath" />
    </irk-task>

    <irk-task>
      <irk-scale-question-step id="Depression" title="In terms of depression, select the number that best describes how you feel now"
        min="0" max="10" step="1" value="5" min-text="Not depressed" max-text="Worst possible depression" />
    </irk-task>

    <irk-task>
      <irk-scale-question-step id="Constipation" title="In terms of constipation, select the number that best describes how you feel now"
        min="0" max="10" step="1" value="5" min-text="No constipation" max-text="Worst possible constipation" />
    </irk-task>


    <irk-task>
      <irk-scale-question-step id="Diarrhea" title="In terms of diarrhea, select the number that best describes how you feel now"
        min="0" max="10" step="1" value="5" min-text="No diarrhea" max-text="Worst possible diarrhea" />
    </irk-task>

    <irk-task>
      <irk-scale-question-step id="Mouth" title="In terms of mouth sores, select the number that best describes how you feel now"
        min="0" max="10" step="1" value="5" min-text="No mouth sores" max-text="Worst possible mouth sores" />
    </irk-task>

    <irk-task>
      <irk-scale-question-step id="Vomiting" title="In terms of vomiting, select the number that best describes how you feel now"
        min="0" max="10" step="1" value="5" min-text="No vomiting" max-text="Worst possible vomiting" />
    </irk-task>

    <irk-task>
      <irk-scale-question-step id="Neuropathy" title="In terms of neuropathy, numbness, or tingling, select the number that best describes how you feel now"
        min="0" max="10" step="1" value="5" min-text="No neuropathy/tingling/numbness" max-text="Worst possible neuropath/tingling/numbness" />
    </irk-task>

  <irk-task>
      <irk-boolean-question-step id="Bleeding" title="In the last two weeks, have you had any bruising or bleeding?"
        true-text="Yes" false-text="No" />
    </irk-task>

    <irk-task>
      <irk-boolean-question-step id="Skin" title="In the last two weeks, have you had any changes in your skin?"
        true-text="Yes" false-text="No" />
    </irk-task>

    <irk-task>
      <irk-boolean-question-step id="Sleep" title="Do you have problems with your sleep 3 or more nights a week?"
        true-text="Yes" false-text="No" />
    </irk-task>

    <irk-task>
      <irk-boolean-question-step id="Fever" title="Do you have a fever?"
        true-text="Yes" false-text="No" />
    </irk-task>

    <irk-task>
      <irk-instruction-step id="s2" title="You're done!" text="Click done to finish and save the survey." button-text="Done" />
    </irk-task>
  </irk-ordered-tasks>
</ion-modal-view>
