/* Empty. Add your own CSS if you like */
.input-label {
	color: #439BF9;
	display: inline-block;
    float: left;
    clear: left;
    /*width: 150px;*/
    margin: auto;
    width: 95%;
    text-align: right;
}
