/* Empty. Add your own CSS if you like */
.segmented-control {
  justify-content: center;
}
/* For all screens larger than an iPhone 6 plus, let's
make the responsive-col be at most 75% of the viewport. */
@media (min-width: 768px) {
  .responsive-col {
    -webkit-box-flex: 0;
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media(min-width: 992px) {
  .responsive-col-md-25 {
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

/*
 To hide tabs when display commenys keyboard? not sure if this is right way to do things
*/
.keyboard-open .tabs{
  display:none;
  }
.keyboard-open .has-tabs{
 bottom:0;
 }
