/* Empty. Add your own CSS if you like */
body {
    background-color: lightgrey;
}
table, th , td  {
  border: 0px 
  border-collapse: collapse;
  padding: 5px;
}
table tr	{
  background-color: #ffffff;
}
table tr .hasEvent{
  background-color: lightblue; 
}