/* Empty. Add your own CSS if you like */

.timeline .urgentCard {
	background-color: #ffd9cc;
}

.timeline .activeCard {
	background-color: #cffcf3;
}

.timeline .completedCard{
	background-color: #D1D0CE;
}