/* Empty. Add your own CSS if you like */

.timeline .urgentCard {
	color: #fff;
	background-color: #FBB917;
}

.timeline .activeCard {
	color: #fff;
	background-color: #11c1f3;
}

.timeline .completedCard{
	color: #fff;
	background-color: #B6B6B4;
}

.timeline .background{
	background-color: #E5E4E2; //#f8f8f8;
}
