/* Empty. Add your own CSS if you like */

.timeline .urgentCard {
	color: #fff;
	background-color: #FBB917;
}

.timeline .activeCard {
	color: #fff;
	background-color: #11c1f3;
}

.timeline .completedCard{
	color: #fff;
	background-color: #B6B6B4;
}
.timeline .divtext {
	margin: 0 auto;
	width: 50%;
	color: #C0C0C0;
	font-size:12px;
}
.timeline .divline {
	margin: 0 auto;
	margin-top: 10px;
	width:50%;
	height:0;
	border-top:2px solid #C0C0C0;
	font-size:0;
}

.timeline .buttonText {
	color: #0C090A;
}
